[2017-03-22 17:06] plata commented on #673
@madoar could you comment the test and add an issue to uncomment it when 4.0.6-alpha is available?

[2017-03-22 17:07] madoar commented on #672
The change to less/sass would go hand in hand with the move of the image definitions from the source code to the css files.
Because this is a lot of work, I will start by making a PR, where I simply move one component from the source code to the css file (maybe the SearchBox). In this PR I'll use Less, which will display how we can use less with POL 5.
The question I need to ask before I start is,

[2017-03-22 17:09] madoar commented on #673
I'll do that. I'll also move the jvm parameters from the surefire plugin to the test itself.
I'm not sure where we want to set them in the end. I think that if we set them in the test we need to set them for every test class. What do you think?

[2017-03-22 17:12] plata commented on #672
Sure. Don't do the whole thing before we agreed/disagreed based on a small example. I would definitely do it at compile time.

[2017-03-22 17:14] plata commented on #673
We should not have to set it for every single test. If we could set it in one place for all TestFX tests, we should do that. Otherwise just for all tests.

[2017-03-22 17:18] feanor12 commented on #673
@lans98
[code]

[2017-03-22 17:19] madoar commented on #673
I don't know if this is possible with JUnit.
One way would be to use the surefire plugin. I would prefer to do it in the source code via
[code]
I don't know where to add this code, that it gets applied to all tests. Any ideas?

[2017-03-22 19:05] madoar commented on #672
Ok, I've created a Pull Request, illustrating what I want to do at a really small part of our gui, the search box component, see #677 for more details.

[2017-03-22 21:55] feanor12 commented on #673
4.0.6-alpha was released and should be available at maven central in a few days.

[2017-03-24 00:12] Ads20000 commented on #570
@plata So I cloned and commented out that bit. Does Phoenicis automatically prioritise the local repo over the GitHub one? I got up to a bit where it said 'Please wait...' and `java -classpath "xyz" org.phoenicis.javafx.JavaFXApplication` locked up my computer again.

[2017-03-24 10:24] feanor12 commented on #673
https://search.maven.org/#search|ga|1|org.testfx
4.0.6-alpha is available.

[2017-03-24 17:51] plata commented on #570
It depends on the order you specify the repositories in the properties file. I'm using a `config.properties` in `..Phoenicis` which contains:
[code]
So I'm not using the GitHub repository at all.

You can find more info regarding this [here](https://github.com/PlayOnLinux/POL-POM-5/wiki/Repository).

[2017-03-24 18:47] #673 closed

[2017-03-25 23:18] Ads20000 commented on #570
After I added that `config.properties` file (and changing `plata` to my username), still thrashing my disk really bad and freezing my mouse when it gets to 'Please Wait' after I check the checkbox to not open Steam after I install it and close that window.

[2017-03-26 10:44] plata commented on #570
If you also did the changes in `SteamScript` which I`ve described above, the only thing that should happen at that point is the Steam update. Could you check if you get this behavior with applications that do not use Steam (e.g. Notepad)? To be honest, I'm running out of ideas what could cause this (especially because no one else seems to have this issue).

[2017-03-26 14:20] Ads20000 commented on #570
I tried installing Notepad++, nothing notable in `iotop` but `java` was 80% CPU before falling and then taking up 80% RAM. Was very slow to install, freezing my mouse etc and got to the end but when I unchecked launch after exit and tried to close that window my computer froze.

It's irritating because I don't have this issue in POL 4. I love POL and want up-to-date POL but my computer doesn't see

[2017-03-26 14:22] Ads20000 commented on #570
Also, I'm using `git pull` to update, maybe that doesn't update properly? I could do a fresh clone?

[2017-03-26 14:26] Ads20000 opened #682 "Adjust Ubuntu theme?"
I don't think the box round the header tabs when you click on them is necessary or looks nice.
Opinion-based, but I guess most theming stuff is.
![screenshot from 2017-03-26 15-25-02](https://cloud.githubusercontent.com/assets/3178485/24332096/81604226-1238-11e7-9e9f-b33984beabbb.png)

[2017-03-26 15:35] plata commented on #682
You are right. It shouldn't look like this.

[2017-03-26 15:56] plata commented on #570
Maybe give it a try. But honestly this behavior is really strange. Especially Notepad++ usually installs in a view seconds without any problems. Are you sure your computer is alright? How about other Java applications?

[2017-03-26 23:23] Ads20000 commented on #570
I tried Minecraft, was disk-thrashy and slow until I turned the graphics down then it was fine. @plata when you install Notepad++ how much CPU and RAM does it use up for you? And has someone with lower specs like mine (Lenovo ThinkPad X201 (i5 520-M (2.40GHz*4), 4GB RAM), Ubuntu 16.10) given it a go?

I'm using OpenJDK 8u121-b13-0ubuntu1.16.10.2. OpenJDK 8u121 is what, generally speaking, people w

[2017-03-26 23:30] Ads20000 commented on #570
OK, it does use a lot of my CPU, like around 300% (I'm assuming it's talking in terms of cores, so it can go up to 400%? Using `top`), and 200% or so whilst playing at 10fps with higher graphics. More like 40-80% when playing with more minimal graphics. But I don't get a complete freeze of my computer that I get with Phoenicis!

[2017-03-27 15:15] plata commented on #570
Just installed Notepad++. I had a CPU load peak on one core right at the beginning (I guess when the prefix was created). After that, all cores around ~10-20%. Could not see any memory increase during installation (when closing Phoenisic ~500MB got freed).

I'm on Ubuntu 16.04 so some OpenJDK like you.

[2017-03-28 11:22] #682 closed

[2017-03-28 11:31] madoar commented on #675
If you want to address the need to rename `.root` to `*` with this issue, I guess this is done with #670.

[2017-03-28 16:34] plata commented on #675
No. I really want names for the colors (like you did in #677 with LESS).

[2017-03-29 19:20] #662 closed

[2017-03-30 13:00] madoar opened #686 "Implement equals and hashCode methods"
To do a lot of things, we need to add `hashCode` and `equals` methods to all model- and DTO-classes.

[2017-03-30 19:41] pyroxar opened #687 "Icons installed windows software in the system menu"
Maybe add question "Do You want add shortcut in system menu?" after installation.
What do You think about this idea?

[2017-03-31 08:34] madoar commented on #687
In addition to this I'm also not sure if short cuts to the system menu are currently fully removed when the container gets deleted.

[2017-04-01 10:18] plata commented on #687
If you want to try, here's what needs to be done:
- add boolean `desktopShortcut` to Functions/Shortcuts/Wine/script.js and pass it in `createShortcut`
- enhance `ShortcutManager#createShortcut` with the new parameter
- add an additional menu step to the quick scripts in Functions/QuickScript to query the user`s selection

[2017-04-02 13:52] pyroxar commented on #687
CrossOvers support shortcut for installed application in system menu.

[2017-04-04 10:45] #671 closed

[2017-04-05 09:51] madoar opened #695 "Error during Notepad++ installation"
I've just tried to install Notepad++ on my laptop.
The important point here is, that I haven't run POL 5 on this PC before. I've started POL 5 in IntelliJ.
After running the installation of Notepad++ I got the following error:

[code]

In addition I think that the Mono installation didn't work as intended. Because I got two different windows asking me to install Mono. I think one was in the JavaFX

[2017-04-05 10:05] madoar commented on #625
@plata I've just tried to work on this issue, but couldn't find the class `WineVersionManager`. Can you tell me where this class is located?
In addition is there an easy way implemented, to access (read and write) the file `phoenicis.cfg`?

[2017-04-05 10:11] qparis commented on #695
I think this problem comes from the fact that you replaced the Repository bean by a RepositoryManager bean

[2017-04-05 10:35] madoar commented on #695
I think you're right. I'll look into this later today.

[2017-04-05 10:41] madoar commented on #695
I think we should add an application installation test, to ensure that changes to the Java code base don't break our scripts. The problem here is, that we would need a way to silently install an application without the need for user inputs (e.g. clicks on buttons), I don't know if this is possible to do currently.

@qparis can you take a look at issue #674? It would be quite nice if my PRs are aut

[2017-04-05 15:47] madoar opened #696 "Error when adding a local repository, whose path contains a space character"
Currently it leads to a POL 5 software freeze, and a corrupted `config.properties` file, if you add a `LocalRepository`, whose directory path contains a space (" ") character.
This happens, because the Java `URI` class can't handle space characters.

[2017-04-05 15:51] qparis commented on #696
Even with %20?

[2017-04-05 15:57] madoar commented on #696
When you use `%20` (I tried) the URI won't throw an exception, but the file object created in `LocalRepository` line 62 will return `false` if you call `repositoryDirectoryFile.exists()`, which suggests, that the File object doesn't parse `%20` as a space character.

[2017-04-05 17:29] plata commented on #696
Similar to #639?

[2017-04-05 17:30] madoar commented on #696
Yes, I think so.

[2017-04-05 17:33] plata commented on #696
So same fix possible?

[2017-04-05 17:35] madoar commented on #696
Basically yes, but we would also need to change all paths/urls, that are currently passed to the repositories, to URIs.

[2017-04-05 17:44] plata commented on #625
The `Wine...` has been renamed to `Engine...` by now (Wine is a special Engine). You can find the related classes in `phoenicis-engines`. The `phoenicis.cfg` is handled by `Functions/Engines/Wine/script.js`. The general idea for the engines is that you define your engines (e.g. Wine) in JS and plug them into the GUI in a generic way.

[2017-04-05 17:46] plata commented on #696
Do you see a better solution?

[2017-04-05 17:47] madoar commented on #696
No, I'm just too lazy to do that now :D

[2017-04-06 09:41] madoar commented on #696
Ok, I've just experimented a bit about this. My results are, that `URI`s are ugly.
If we decide to use URIs internally, we need to encode **every** hyperlink, path etc.
This means, that `git+https://github.com/madoar/Scripts` becomes `git%2Bhttps%3A%2F%2Fgithub.com%2Fmadoar%2FScripts`.
This alone wouldn't be too bad, but in combination, that we want to display some URLs/URIs to the user either as

[2017-04-06 16:28] plata commented on #696
So we cannot read the string from the properties convert it to URI and show it in a nice format again? I don't have a problem using only Strings but on the other hand it feels kinda weird to do that if there is a special class to store URIs.

[2017-04-06 16:36] madoar commented on #696
The problem in my eyes is, that Java doesn't provide a way to create encoded `URI` objects from a `String`. To do this you would need to use support classes, that, when you use the ones provided by Java itself, take a String and produce an encoded version of the String. Then you can take this encoded String and pass it to the URI constructor.

This leads to the URI object not knowing how the strin

[2017-04-06 16:53] plata commented on #696
I can't believe we're the only ones with this issue :P

[2017-04-06 17:01] madoar commented on #696
Do you want to give it a shot?^^

[2017-04-07 14:52] plata commented on #696
I did some research but also could not find a nice solution until now...

[2017-04-07 14:58] madoar commented on #696
What seems to be a possibility is to use the classes `URLEncode` and `URLDecoder`, which can encode/decode a `String`, but I'm not sure if we want to do this.

[2017-04-07 19:06] madoar commented on #625
Ok, I've got a first working version, that can at least show me a list of all available engine versions in a `ComboCox`.

I have multiple "problems" with my approach and the current Engines architecture:

- On big problem is, that my solution looks really ugly and kind of glued together. This is founded in the existing method structure, where method a calls b, which calls c, which calls d and so o

[2017-04-07 19:13] madoar commented on #625
I've just created a new PR with my current code. See #698.

[2017-04-08 09:15] plata commented on #625
Let me try to explain `phoenicis-engines` a bit:
In general, this module manages the engines which are implemented in JS. There is a hierarchical structure to order the engines. On top level, the category (`EngineCategoryDTO`) is e.g. Wine. This is then divided into several subcategories (`EngineSubCategoryDTO`) e.g. x86-staging, amd64-upstream. Finally, the version (`EngineVersionDTO`) gives you

[2017-04-08 09:40] madoar commented on #625
Some other things I think we should solve/improve to make working with engines easier:
One thing I think we need to make working with the engines much easier, is an upstream relationship between the different levels.
Currently it's only possible to get the subcategories of a category but not the other way round, you can't query the category belonging to a subcategory in an easy way. The same is tr

[2017-04-08 09:48] plata commented on #625
The `WinePrefixContainerDTO` has `architecture`, `distribution` and `version`. Probably it would make more sense if the `ContainerDTO` had `engineCategory`, `engineSubCategory` and `engineVersion`. However, I don't think it should have the DTOs directly (how would you parse that from json?).

[2017-04-08 09:53] madoar commented on #625
Currently it's a lot of work to find the correct `EngineVersionDTO`, `EngineSubCategoryDTO` and `EngineCategoryDTO` objects for a `ContainerDTO`, therefore I think it would make a lot of sense to make it easier to find the correct objects.
I'm not sure we need to parse it directly from json. Why don't we do a bit preprocessing first on the `ContainerDTO` to find/insert the correct `EngineVersionDT

[2017-04-08 09:59] plata commented on #625
I know but I don't believe that's a good idea. The DTO should be a plain data container only and it would mix the engine and container modules. On the other hand we must find a way to connect engines and containers somehow. Pretty sure @qparis has a plan for this in mind already.

[2017-04-08 10:05] madoar commented on #625
As a side note:
We have a similar problem with `CategoryDTO` and `ApplicationDTO`s too. You can query a category for its applications, but not the other way round. In more than one situation I've wished for a `getCategory` method in the `ApplicationDTO` class, to query the category object.

[2017-04-08 10:11] plata commented on #625
I know. I had the same issues already as well.

[2017-04-11 19:51] Linkaan commented on #695
I get the same error message trying to install steam with the latest version available on git although it works fine with https://github.com/PlayOnLinux/POL-POM-5/commit/5b552dcb464adc8f933b9d80c6e203fe3c4bc5e6

[2017-04-11 22:20] qparis commented on #674
Agreed, but it is a bit more complicated.

Would OpenJDK be sufficient?

[2017-04-12 07:03] madoar commented on #674
@qparis I think only OpenJDK won't suffice, but OpenJDK an OracleJDK should suffice.

[2017-04-13 10:41] madoar opened #700 "Strange Java Error"
When testing a PR I tumbled over the appended error message.
Have you seen such an error before?

[hs_err_pid10106.log](https://github.com/PlayOnLinux/POL-POM-5/files/919250/hs_err_pid10106.txt)

[2017-04-13 17:05] plata opened #701 "change array in MultipleRepository to a list"
see  #693

[2017-04-13 17:09] plata commented on #700
Segmentation fault in the JRE itself? Never seen such a thing. And I don't think it's related to our program in any way.

[2017-04-13 17:18] madoar commented on #701
I'm waiting for #697 to be merged until I do this.
It would be bad if I need to solve a merge conflict again.

[2017-04-13 17:21] plata commented on #701
Sure. Just opened this so we do not forget it.

[2017-04-13 17:23] plata opened #702 "Implement generic engine changeVersion"
It could be implemented similarly to engine install/delete, i.e.
- add `ChangeEngineVersionUi` (see `EngineProgressUi`)
- implement `changeVersion` in JS
- call `changeVersion` of correct engine depending on container from Java

see #698

[2017-04-13 18:29] qparis commented on #700
Why do we have some GtkApplication classes here?

[2017-04-13 18:57] madoar commented on #700
I don't know. Maybe Oracle JavaFx uses it internally?

[2017-04-13 19:10] madoar commented on #702
This should be implemented relatively soon, because we currently only have a half functional engines list in the container view, which is for one slow during the initialization and doesn't do anything afterwards.

[2017-04-13 21:55] Durendal opened #703 "unable to find 'repository' bean"
I've tried installing league of legends multiple times through POL 5 but continue to receive the error below, running on x86_64 Linux Mint 18.1 Serena:

[code]

[2017-04-13 22:03] #703 closed

[2017-04-13 22:04] Durendal commented on #695
I am also receiving this issue when trying to install League of Legends on Linux Mint 18.1 x86_64

[2017-04-13 22:11] madoar commented on #695
This should be fixed with the merges by @qparis 10 minutes ago.
Can you pls try again with the newest commits?

[2017-04-13 22:21] Durendal commented on #695
The latest merges seem to have fixed things on my end, thanks for your prompt reply!

[2017-04-13 22:55] Linkaan commented on #695
Now I no longer receive this error, however there is still an issue trying to start Age of Empires II HD but since that is a game-specific issue I should probably post that somewhere else?

[2017-04-14 08:03] madoar commented on #695
Yes, pls open a new Issue with your received error.
I'll close this issue now, because the first described error has been solved.

[2017-04-14 08:03] #695 closed

[2017-04-14 08:57] plata commented on #695
@Linkaan you should open game specific issues in PlayOnLinux/Scripts. I'm curious what issue you have in AoE II as I play it sometimes myself and it works like a charm. In case it should be the broken launcher: That's a wine issue. Just click the top left button.

[2017-04-14 10:36] madoar opened #705 "Improved merge-process"
I've some ideas how to improve our merge process, so that we don't accidentally break our master branch.

First I would introduce a new `development` or `develop` branch, which has the function of our current master branch.
Whenever we have a pull request, which looks mergeable we merge it in the development branch.
Jenkins in addition should then be configured to automatically test all commits/me

[2017-04-14 10:38] madoar opened #706 "qparis-patch branches"
I've discovered, that the POL 5 repository contains two qparis-patch branches.
Are these branches still needed, or can we remove them?

[2017-04-14 10:51] plata commented on #705
This would require that someone tests the develop branch. So in the end you just shift this from master to develop which does not make a lot of sense in my opinion because the users should use the releases anyways.

[2017-04-14 11:00] madoar commented on #705
Why does someone need to test the develop branch?
I'm suggesting to always automatically test it with jenkins.

[2017-04-14 11:18] qparis commented on #705
I agree with plata, having a dev branch would not change anything because its commits would also have to be tested.

The current process work great (when Jenkins is not down, of course)

[2017-04-14 11:18] qparis commented on #706
You can remove them

[2017-04-14 13:48] qparis commented on #700
Should be fixed

[2017-04-14 15:26] madoar opened #707 "Check why the test "testListPermutation" fails"
We should investigate why the test `testListPermutation` fails, so that we don't need to ignore the test long term.

[2017-04-14 16:25] #705 closed

[2017-04-14 16:26] #667 closed

[2017-04-15 09:54] #707 closed

[2017-04-15 09:59] plata commented on #700
@madoar can this be closed?

[2017-04-15 10:01] #700 closed

[2017-04-15 14:25] #701 closed

[2017-04-15 19:05] madoar opened #711 "Adding a StyleManager/CSSManager"
I don't like our current way of interacting with the stylesheets.
Ideally I would like to integrate the handling/interacting in the `ThemeManager` or a new class called `StyleManager` or `CSSManager`.
This class should encapsulate the interaction with stylesheets via an `set()` method, which takes two arguments:

- The first argument is an enum, which tells the method what type of stylesheet you w

[2017-04-15 19:09] madoar opened #712 "Investigate why the test "testListPermutation" fails on Jenkins"
I don't think it's healthy to simply ignore the test `testListPermutation` in the JUnit class `MappedListTests` long term.
Therefore we should investigate why this test fails on Jenkins.
First I would like to know if this test fails only for Jenkins?
At least for @plata and me the test seems to work as intended locally.

[2017-04-16 10:09] plata commented on #711
Makes sense. It should be done in `ThemeManager`.

We should first think about the themes we need. I see different levels for this:
- DPI: defines only sizes depending on the screen resolution
- look'n'feel: default, Breeze Dark, Unity etc.
- icons
    - app category: default/themed
    - engine category: default/themed

[2017-04-16 10:28] madoar commented on #711
How would you set the DPI?
Only by changing the icons, or is there more to be done?
Another question about the DPI that appears to me is, do we then need to have multiple icon sets for each look'n'feel theme? (One in high DPI, another one in low?)

[2017-04-16 12:52] plata commented on #711
Currently, there's an (unfinished) HiDpi theme which is basically the default theme with everything enlarged. Therefore you cannot use e.g. the Unity theme on a HiDpi screen. I think it would be better to split the style and the sizes. For example, the Full HD size of a button could be 60x20 and the HiDpi size 120x40.

We do not need different icon sets because they are resized. Unfortunately, tha

[2017-04-16 13:59] madoar commented on #711
About the SearchBox:
I have nothing against changing `-fx-graphic` to `-fx-background-image`. The reason I didn't use `-fx-background-image` was because you need to use some other css tags too if you want the image to be centered and not repeated.
In addition we need to set good insets for the searchfield clear button.

About the HiDPI themes:
Is the HiDPI theme only about changing the size of the

[2017-04-16 18:21] qparis commented on #711
Side note: The CSS should be a URI, not a file :-)

[2017-04-16 20:57] pyroxar opened #713 "Incorrect title of window in GNOME menu"
I use ubuntu GNOME 17.04 with GNOME 3.24.
In PlayOnLinux 4 and PlayOnLinux 5 title in GNOME menu is incorrect. Title of window is correct "PlayOnLinux" but in gnome menu is not.
See on screenshot.
![zrzut ekranu z 2017-04-16 22-49-31](https://cloud.githubusercontent.com/assets/23406555/25074275/c36d3fdc-22f7-11e7-9c57-d7d5e88219ab.png)

[2017-04-17 08:57] plata commented on #711
This would prevent the need to create an individual HiDPI and low DPI version for each theme.

That's exactly what I have in mind.

[2017-04-17 09:05] plata commented on #713
Cannot test, but maybe it's [this](https://stackoverflow.com/questions/21111481/javafx-application-name)?

[2017-04-17 11:55] madoar commented on #713
I think we should also adjust the title to contain spaces (e.g. `Play on Linux`) and maybe to contain `Phoenicis` too.
What do you think @plata, @qparis?

[2017-04-17 18:59] plata commented on #713
It should be "Phoenicis PlayOnLinux" (it is correct without spaces as you can see e.g. on the [homepage](https://www.playonlinux.com/en/)).

[2017-04-21 11:04] madoar opened #714 "Error when closing POL 5 after having opened (and afterwards closed) Notepad++"
I've just tried the following on the:

1. Open POL 5 in IntelliJ
2. Start Notepad++ via POL 5 ("Run" button in the left sidebar of the "Library" Tab)
3. Closing Nodepad++ by clicking on the "x" button of Nodepad++.
4. Closing POL 5 by clicking on the "x" button of POL 5.

This process resulted in the following log and error:

[code]

[2017-04-21 13:23] plata commented on #714
I think I also had this. Is it possible that it happens if you close Phoenicis before the application has really been closed? Can you reproduce this? What happens if you wait a bit?

[2017-04-21 13:45] madoar commented on #714
I've just tried it again. But this time I waited ~5 minutes between step 3 and 4.
After waiting 5 minutes I got no error.
But still I think we should ensure that the application ends without an exception.

[2017-04-21 13:48] plata commented on #714
I agree. Just wanted to know if my assumption is right. I guess we have to monitor the Nashorn thread and show a popup "waiting until xyz is closed" (like Steam does).

[2017-04-21 13:50] plata commented on #714
This is also related to #448.

[2017-04-21 13:55] plata commented on #647
Fixed by #704

[2017-04-21 13:55] #647 closed

[2017-04-22 13:28] madoar opened #719 "Error when deselecting "Installed" or "Not installed" in the Engines Tab"
When deselecting "Installed" or "Not installed" in the sidebar of the "Engines" tab I get the following exception:
[code]

[2017-04-22 15:19] plata commented on #719
When did this break? It used to be working. Can't even debug: As soon as I place a breakpoint before that line, the error disappears. Maybe some threading issue?

[2017-04-22 15:22] madoar commented on #719
I don't know when it broke. I just know that it's not connected to #720.
I guess it's connected to the used list. If you use a list generated by `Arrays.asList()` you can't add items to the list. If you do you get the previous exception.

[2017-04-22 15:31] plata commented on #719
Could it be related to #684?

[2017-04-22 15:37] plata commented on #719
At least ea27e30d0171eded8625ae6cbe9eb5691339fbc5 works.

[2017-04-22 15:55] plata commented on #719
The `unmodifiableList` is in `EngineCategoryDTO`:
[code]

Probably it would make sense to use an `ObservableList` like for the apps for the filter (see #685). What do you think?

[2017-04-22 16:01] madoar commented on #719
I would prefer using `ObservableList`s only in the javafx projects, because they shipped with javafx.

[2017-04-22 16:13] plata commented on #719
Yes. Would you like to try it (you did it for the apps already so you know what has to be done)?

[2017-04-22 16:17] madoar commented on #719
If you want, I can implement the filter with a `FilterList` from javafx.
If we do this I would also suggest to incorporate the `SearchBar` to the filter (like it's done for the "Apps" tab). The question is how should the search term be applied to the engines?

[2017-04-22 16:20] madoar opened #722 "Use Tri-state Checkboxes"
JavaFX Checkboxes have the ability to support three states: true, false and indeterminate.
I think we should use this in POL 5 to support the option "undecided".
As an example I would suggest using a single tri-state checkbox for the engines tab to give the user the choice to filter for installed, uninstalled and both engines.

What do you think?

[2017-04-22 16:27] plata commented on #719
Does it make sense to search? If you think we should do that, I would suggest to show all engines of the current category which contain the string. E.g. select Wine, then search "2." gives you all versions (in several tabs) which contain "2.".

[2017-04-22 16:29] madoar commented on #719
I'm not sure if it's useful to search, but we currently have a searchbar it would be a shame to not use it

[2017-04-22 16:29] plata commented on #722
I'm not really sure the meaning is obvious to the user.

[2017-04-22 16:30] plata commented on #719
Well it doesn't hurt if we have it ;)

[2017-04-23 11:27] #719 closed

[2017-04-24 18:15] madoar opened #726 "Change the refresh graphic to a background definition"
Currently we're using a the graphic parameter to set the refresh icon in the "Settings" tab when the "Refresh Repositories" button has been pressed to indicate that the repositories/scripts are currently refreshing.
This approach has the disadvantage that the icon can't be resized, therefore we need to replace the graphic/`-fx-graphics` solution with a `-fx-background-image` one, which can be bett

[2017-04-25 12:46] CreshZmine opened #727 "Unable to add executable to Library from existing container"
When a software with Local Installer complete his setup there is no way to create a link to them in the library

[2017-04-25 15:54] plata commented on #727
Can you describe the issue in more detail?

What should happen is that you see the window below which lets you select an executable. A shortcut for this executable will then be added to your library.
![select](https://cloud.githubusercontent.com/assets/3973260/25395060/25f1a1c2-29e0-11e7-9623-73c2cad02296.png)

[2017-04-25 15:55] CreshZmine commented on #727
My installation complete withount error but I have no links in Library and I can't create it manually like on POL4.

[2017-04-25 15:58] plata commented on #727
Did you see the menu step with the selection?

[2017-04-25 15:58] CreshZmine commented on #727
No. I suppose this is the issue.

[2017-04-25 15:59] plata commented on #727
Any output on the command line (in case you started from command line)?

[2017-04-25 16:26] CreshZmine commented on #727
Now It's asking after the setup for another install file and I can't skip. I can only cancel aborting all the process.

![image](https://cloud.githubusercontent.com/assets/9625583/25396344/88e8c3f6-29e4-11e7-8f8d-c1933a718c4e.png)

[2017-04-25 17:21] plata commented on #727
That's correct now. You have to select the executable which you want as shortcut in your library.

[2017-04-25 17:24] CreshZmine commented on #727
Ah ok. I'll try. I suppose that this section need some more info. But I can't create another shortcut without making a new install?

[2017-04-25 17:39] plata commented on #727
The text is set in [InstallerScript](https://github.com/PlayOnLinux/Scripts/blob/master/Functions/QuickScript/InstallerScript/script.js) (l. 88). You're welcome to provide a pull request which improves this.

You can only create one shortcut. The custom installer is a kind of last resort if there is no installation script. Usually you should use an installation script, therefore the custom install

[2017-04-25 17:42] CreshZmine commented on #727
Thanks for info. I'll try to do my best.
I use PlayOnLinux to test apps with various Wine version so, sometimes. if something crash with a custom shotcut to a particular app in a particular container could recover the status. But thanks for support.

[2017-04-25 17:45] plata commented on #727
What you can do is change the shortcut manually in `.Phoenicis/shortcuts/`. If you think we should have the possibility to add a new shortcut from the GUI, feel free to open a new issue for this. Even better of course: provide a pull request which supplies that functionality.

[2017-04-25 17:47] CreshZmine commented on #727
I'll study the code and provide what I can/I'm able to do. Thanks for all.

[2017-04-25 17:48] plata commented on #727
You're welcome.

Can we close this issue?

[2017-04-25 17:49] CreshZmine commented on #727
Yes. Thanks.

[2017-04-25 17:49] #727 closed

[2017-04-26 09:54] madoar commented on #712
Ok, after seeing the tests for #730 failing again because of the same reason, I've searched a bit on the internet for a reason and found this:
http://stackoverflow.com/questions/29854327/javafx-observableliststring-sorted-vs-sortedcomparator-stringnaturalorder

@plata, @qparis what Java version is Jenkins using?

[2017-04-26 10:03] madoar opened #731 "Implement functionality for the filter checkboxes in the "Apps" tab"
Currently we have 3 checkboxes in the sidebar of the "Apps" tab, that do absolutely nothing.
We should add some functionality to them.

[2017-04-26 16:44] plata commented on #731
Filter should be implemented like in #723. The checkboxes relate to fields in `ScriptDTO`.
As the "Apps" tab shows applications and not scripts, I'm not quite sure how the behavior shall be. For example, you could imagine a game which has two scripts: "real" game, demo. While you need to pay for the game, the demo is free.

[2017-04-26 16:47] plata commented on #712
From the [logs](http://www.playonlinux.org:8080/job/POL-POM-5_PullRequest/713/consoleFull): `/home/jenkins/tools/hudson.model.JDK/Oracle_JDK_1.8`

[2017-04-26 21:13] madoar commented on #712
Hmm, this still doesn't tell us which version (update) was used.

[2017-04-27 14:45] madoar commented on #731
If this is the case, then I would suggest doing this in two steps:

1. First filter the applications shown in the `MiniatureListWidget` inside the "Apps" tab to only show the applications containing **at least one** `ScriptDTO` that fulfills the selected filter criteria
2. After the user clicked on an application in the `MiniatureListWidget` inside the "Apps" tab filter the `ScriptDTO`s belonging

[2017-04-27 17:26] plata commented on #731
Yes, that's probably the best solution.

I just don't agree with

If "Testing" is selected, we should show all scripts (testing + stable).

Moreover, I would suggest to replace "Commercial" by "Free" as the majority of applications (especially games) will be commercial.

[2017-04-27 17:30] plata commented on #712
If it's not visible in the output, I can't tell. @qparis needs to look at the machine directly, I guess.

[2017-04-27 17:44] #712 closed

[2017-04-27 19:53] madoar opened #733 ""Back" button"
Currently in the "Apps" and "Engines" tabs there is no defined way, how to return to the `MiniatureListWidget` from a miniature page.
For example, if you select an engine in the engines tab, you only see two buttons: "Install" and "Delete", but no button to return to the engines selection list.

Do you have an idea how we could/should handle the "move to the last window"/"go back" functionality?

[2017-04-28 18:32] plata commented on #733
I think there are mainly two options:
* a "Back" button in a bar at the top
* something like in Plasma Discover where a new column is opened to show the detailed information (see <https://userbase.kde.org/Discover>)

[2017-04-29 06:43] madoar commented on #733
I think option one would be the easiest to implement, but option two would look better.
For option two we could replace the SearchBar with a "Back" button whenever a back button is needed.
We can do this, because a back button is normally needed, when a SearchBar isn't.
What do you think?

[2017-04-29 09:36] plata commented on #733
I guess we have to try it to see how usable it is. I hope that I find some time to implement something this weekend.

[2017-04-29 10:47] madoar commented on #618
Depending on how far the Java dev team gets when they release Java 9, it's possible that we can use ES6 class definitions in Java 9, which would make some things a lot easier to read.

[2017-04-29 11:36] plata commented on #618
First of all we have to be sure that Java 9 does not break anything.

[2017-04-29 12:01] plata commented on #733
Quick try of the second option:
![new column](https://cloud.githubusercontent.com/assets/3973260/25555345/4970739c-2ce4-11e7-9be6-2c02f40091d4.png)

@qparis @madoar What do you think?

[2017-04-29 12:20] madoar commented on #733
Looks really nice. But I'm not sure how usable it is if you have a really small monitor or resolution.
In addition it may be better make a vertical divide.

I've just pushed a PR, that simply adds a "Back" button to the left side. The interesting part of my PR is, that it adds a navigation chronicle to the `MainWindowView` class that enables many layered back navigation, which we will eventually h

[2017-04-29 12:24] plata commented on #733
Maybe we can have a combination of both. I don't think a horizontal divide is a better idea (everyone is using wide screens). The right part for apps could be a lot smaller.

[2017-04-29 12:26] qparis commented on #733
I link it. Is the column always shown?

[2017-04-29 12:29] plata commented on #733
It occurs when you click on a miniature. The miniature should be highlighted and probably there should also be a close button for the right column.

[2017-04-29 12:31] madoar commented on #733
What would happen if we need a larger hierarchy of subwindows at a later time?
For example when we want to change the engine of a container:

[2017-04-29 12:34] plata commented on #733
I don't think we should go from Containers to the Engines tab. We should rather use a small embedded wizard.

[2017-04-29 12:38] madoar commented on #733
I'm not talking about navigating to the Engines tab. I would show a TabPane like inside the Engines tab, but not the engines tab itself.
This would require three selections by the user:

1. Select the container, whose engine you want to change
2. Open the possible engines list (if the old engine was a wine engine we only show the wine engines)
3. Select the required new engine from the shown `Mini

[2017-04-29 12:42] plata commented on #733
How would you convey the idea that you are currently selecting a new engine for the specific container?

[2017-04-29 12:45] madoar commented on #733
With your approach, by opening a third Panel in the SplitPane.
In my approach I would return step by step (from the selected new engine to the `MiniatureListWidget`, then from the `MiniatureListWidget` to the selected container).

[2017-04-29 12:57] plata commented on #733
In this scenario, I think your approach makes more sense. I don't see that the new column should be used for something like this. The new column should only be used to show detailed information about a selected item. Therefore the engine selection for a container is quite a different use case.
However, you should consider that your implementation is really similar to a wizard. We must be careful t

[2017-04-29 13:01] madoar commented on #733
You're right.
Another thing we shouldn't forget is that my engine changing case is an exception and not the rule.
In addition I like the columns too.
I think we should go with the `SplitPane` approach, but I would like to integrate the navigationChronicle structure from #735. If we replace the Stack by an ObservableList we can bind the this list to the content of the SplitPane.
What do you think?

[2017-04-29 13:06] plata commented on #733
Actually, I used the `right` of the existing `BorderPane` and not a `SplitPane` (not really important, just to clarify).
I'm not quite sure if I understand your proposal correctly. Could you give an example how this would behave (from a user perspective)?

[2017-04-29 13:12] plata opened #736 "miniature list: select miniatures or simple list"
Allow to switch between a miniature list and a simple list (only Strings without icons).

[2017-04-29 13:16] madoar commented on #733
The interesting aspect of the navigationChronicle is that it contains all currently opened "windows".
So when you clicked on an application in the MiniatureListWidget it contains 2 items:

- The MiniatureListWidget
- The Panel containing the application details

If you're looking at the engines list it only contains a single item the TabPane.

The navigationChronicle is managed by the `MainWindowV

[2017-04-29 13:21] madoar commented on #733
If you want to make the items inside the SplitPane closeable, it should also be quite easy when you use a binding.
In this case you would use an additional MappedList which takes a list of items (`Node` objects in our case I guess) and wraps them inside another Panel, which adds a close button.
Then when we bind to the SplitPane, all shown items will automatically have a close button.

[2017-04-29 13:22] plata commented on #733
I still don't really understand how this would be used to navigate. I will do a really basic PR to enable the split then you can go ahead.

[2017-04-29 13:24] madoar commented on #733
The navigation is done by calling `navigateTo`, `clearChronicleNavigateTo` and `returnTo` inside the action listeners of the buttons.
Because this is like it already works currently, you won't need to change it much :)

[2017-04-29 13:29] plata commented on #733
I meant the behavior of the GUI.

[2017-04-29 13:32] madoar commented on #733
It would work like it does for your current approach I think.
you would click on an application icon in the `MiniatureListWidget` and a second window is automatically opened/added in the SplitPane. This second window contains the `AppPanel` to the application you've selected.

[2017-04-29 15:55] madoar commented on #736
How shall the user select, which view he wants to have?

[2017-04-30 09:03] plata commented on #736
Maybe as global option in settings → UI or buttons like in a file browser
![buttons](https://cloud.githubusercontent.com/assets/3973260/25563095/9c859f70-2d94-11e7-8ba4-70dac7c34927.png)

[2017-04-30 09:08] madoar commented on #736
I think the second one looks approach in your screenshot looks better.

[2017-04-30 09:11] plata commented on #736
That's only GIMP. What concerns me a bit is that the icons are not directly related to the miniature view.

[2017-04-30 09:13] madoar commented on #736
The problem when using a global option in the settings for this is, that I don't think a lot of users will find this option or understand what exactly it does by looking at the description.

[2017-04-30 09:23] plata opened #739 "categories for container tab"
Currently, all containers are shown in the side bar of the container tab. In my opinion, the sidebar should show the container category instead (e.g. Wine) for two reasons:
1. If you have many containers, showing them in the side bar (even within a scroll pane) is not really usable.
2. With categories, the container tab can be streamlined with the apps and engines tabs which makes the UI more unde

[2017-04-30 09:24] plata commented on #736
That's probably true.

[2017-04-30 09:24] plata commented on #570
@Ads20000 any new on this?

[2017-04-30 10:31] plata commented on #663
For the second task: Do you want more description than there is currently in the [wiki](https://github.com/PlayOnLinux/POL-POM-5/wiki/Repository)? If so, what shall I write there?

[2017-04-30 10:38] plata commented on #663
Is the `SearchBox` theme description in the [wiki](https://github.com/PlayOnLinux/POL-POM-5/wiki/Themes#left) sufficient?

[2017-04-30 10:40] plata commented on #663
For the last task: Currently we have a log output. I think that should be sufficient (at least for now).

[2017-04-30 10:49] plata commented on #644
As this is open for quite some time now, we should come to a decision if/how we want to do it. As I have stated above, the only possibility I see is to store the installed applications in a database (maybe simply one file per prefix).

[2017-04-30 10:52] plata commented on #659
@madoar what shall we do about this? Is it still valid?

[2017-04-30 10:54] plata commented on #631
@madoar I would like to close this. As stated above, please propose how I should change the wiki such that it's clear.

[2017-04-30 10:59] madoar commented on #663
I've just added additional information about the repositories (see here: https://github.com/PlayOnLinux/POL-POM-5/wiki/Repository)
What do you think?

[2017-04-30 10:59] plata commented on #582
Closed because of the issues that occurred in #597.

[2017-04-30 10:59] #582 closed

[2017-04-30 11:01] madoar commented on #659
I'm not sure, I think we need this for debugging purposes, but because we've always had more important issues, I couldn't address this yet.

[2017-04-30 11:03] plata commented on #598
@qparis could you do this (should be really quick)? I would like to close this issue. If the link is broken because SonarQube is not working, we should just remove the link completely.

[2017-04-30 11:03] plata commented on #663
I like it. Great that you have the rights to edit it directly now. I'm just trying to get rid of all those old issues.

[2017-04-30 11:07] plata commented on #659
Ok. How about renaming this issue to: "Log used repositories" or something like that?

[2017-04-30 11:08] plata commented on #511
Is this still valid? How can it be reproduced?

[2017-04-30 11:09] plata commented on #612
see also the discussion in #711

[2017-04-30 11:10] plata commented on #485
Can we close this? I think it is superseded by #612 and #711.

[2017-04-30 11:11] plata commented on #464
Could you add some additional information on what has to be done such that anyone can pickup this task?

[2017-04-30 11:12] madoar commented on #631
I've just written a small article about the installation (at least for ubuntu based systems) see https://github.com/PlayOnLinux/POL-POM-5/wiki/Installation.
What do you think?

[2017-04-30 11:14] madoar commented on #663
For the last point I think we need a way to "reset" the repositories.
If the repository is corrupt, what should the user do, should should he find out?

[2017-04-30 11:14] plata commented on #483
The button which shall do this is located in Containers → Tools.

[2017-04-30 11:17] plata commented on #631
The other wiki pages use "you" or "do this/do that". I think you should stick to that (instead of "the user should..."). If it's true that you have to install Java 8 first, we should fix the dependencies of the deb instead of writing this to the wiki.

[2017-04-30 11:19] madoar commented on #631
Can you fix the Java 8 dependencies? I don't know how.
I suggest that we change the wiki article afterwards, what do you think?

[2017-04-30 11:20] plata commented on #663
We need a pop-up when something goes wrong while fetching the repository. This pop-up should then show the problem. Could be several things:
* no Internet connection
* folder does not exist
* folder is not a git repository
* ...

For me, this should be a completely new issue.

[2017-04-30 11:22] plata commented on #714
Can we close this issue and add the information to #448?

[2017-04-30 11:22] madoar opened #740 "Show error message when something during the repository fetching goes wrong"
We need a pop-up when something goes wrong while fetching the repository. This pop-up should then show the problem. Could be several things:

- no Internet connection
- folder does not exist
- folder is not a git repository
- ...

See #663 for more context information

[2017-04-30 11:22] #663 closed

[2017-04-30 11:23] madoar commented on #714
Can you add the required information to #448? Afterwards I'll close this issue.

[2017-04-30 11:24] plata commented on #631
It's in `phoenicis-dist/src/deb/control/control`. `java8-runtime` is listed there already. Or is `default-jre` not Java 8 in Ubuntu 16.04?

[2017-04-30 11:26] plata commented on #448
As pointed out by @madoar in #714, closing Phoenicis before Wine has shut down completely leads to an error. To reproduce:

1. Open POL 5 in IntelliJ
2. Start Notepad++ via POL 5 ("Run" button in the left sidebar of the "Library" Tab)
3. Closing Nodepad++ by clicking on the "x" button of Nodepad++.
4. Closing POL 5 by clicking on the "x" button of POL 5.

This process resulted in the following log

[2017-04-30 11:27] madoar commented on #631
I think it's missing javafx.

[2017-04-30 11:27] plata commented on #714
Done.

[2017-04-30 11:27] #714 closed

[2017-04-30 11:29] plata opened #741 "Check .deb dependencies"
E.g. JavaFX is missing.

The dependencies are specified in `phoenicis-dist/src/deb/control/control`.

[2017-04-30 11:29] plata commented on #631
see #741

[2017-04-30 11:33] #631 closed

[2017-04-30 11:34] plata commented on #392
There are several issues open regarding localization (this, #4, PlayOnLinux/Scripts#49). Can we agree how we want to do localization and define a roadmap of what has to be done to achieve this? I would then like to create the required tasks for this such that people can start working on it.

[2017-04-30 11:41] qparis commented on #464
At the moment we have some piece of code that checks the GPG signature of a script. We have to warn the user if the signature of the script is not correct

[2017-04-30 11:43] plata commented on #258
You can set this in the app script via `Wine.nativeApplication`. I think this should be sufficient for the vast majority of cases.

Please correct me if I didn't understand the topic of this issue.

[2017-04-30 11:45] plata commented on #464
So it's more about a showing a warning than performing the actual check? Where would you like to have this? AppPanel or in the installation wizard?

[2017-04-30 11:46] qparis commented on #464
I have no idea where is it better, but we also have to ensure that the signature is checked when we include a script to another one

[2017-04-30 11:47] qparis commented on #464
It could be a separate popup

[2017-04-30 11:48] plata commented on #25
Shall we split this into:
* extract archives with Apache Commons Compress
* extract .cab with CAB PARSER

Just to have tasks someone can start working on.

[2017-04-30 11:50] qparis commented on #25
We shall split this ticket. The main work is already done, but we still need something to extract .cab files ideally

[2017-04-30 11:50] qparis commented on #25
Also we will need to extract icons from PE files

[2017-04-30 11:50] plata commented on #464
I think we should have a separate issue for the case that a script includes another script. Also I do not have any idea how this should be done currently..

[2017-04-30 11:52] plata opened #742 "extract icons from PE files"

[2017-04-30 11:53] plata opened #743 "extract archives with Apache Commons Compress"
https://commons.apache.org/proper/commons-compress/

[2017-04-30 11:53] plata opened #744 "extract .cab with CAB PARSER"
https://github.com/dorkbox/CabParser

[2017-04-30 11:54] plata commented on #744
@qparis could you add some more information?

[2017-04-30 11:54] plata commented on #743
@qparis could you add some more information?

[2017-04-30 11:54] plata commented on #742
@qparis could you add some more information?

[2017-04-30 11:54] plata commented on #25
Split to #742, #743, #744.

[2017-04-30 11:54] #25 closed

[2017-04-30 11:56] qparis commented on #744
The idea behind this ticket is to be able to extract .cab files so that we can avoid depending on cabextract tool.

We already started to write some piece of code but it is really incomplete

[2017-04-30 12:00] plata commented on #192
I think this is nothing which can/should be implemented in Phoenicis. It should be possible to create the required bash script during the installation of the specific app which requires this (e.g. in the `postInstall`). Therefore I would like to close this issue.

[2017-04-30 12:01] plata commented on #744
Where can that code be found?

[2017-04-30 12:04] plata commented on #292
The linked descriptions are Ubuntu (or at least Linux) specific. As we try to make Phoenicis platform independent, I'm not sure we want this. In my opinion, this request belongs to the system level and should not be handled by us.

[2017-04-30 12:17] plata opened #745 "decide on 4-level JS namespace"
see #622

A 4-level JS namespace would allow to clearly separate installable application scripts and the framework.

[2017-04-30 12:17] Mannshoch commented on #292
But how would I do it prefix specific? If you say it's not your yob to do it, could you please provide an Example solution for this?

[2017-04-30 12:29] plata commented on #292
I'm not really sure. The description requires root privileges in several place and creating a new group etc. I just don't see how we should do any of that in Phoenicis. The only time we could do this is during the .deb installation. But as you cannot be sure that the user installed Phoenicis via a .deb, this is also somewhat pointless.

[2017-04-30 12:36] plata commented on #292
Maybe this would make more sense as a wine option? After all, securing your system by not allowing Wine to access the Internet is nothing which relates to Phoenicis only but rather to Wine in general. If this would be in Wine, we could of course support it.

[2017-04-30 16:55] plata commented on #611
I've collected some information in the [wiki](https://github.com/PlayOnLinux/POL-POM-5/wiki). @qparis please check/correct so we can close this issue.

[2017-04-30 19:35] Lchu613 commented on #643
I fixed this problem by installing ncurses5-compat-libs and lib32-ncurses5-compat-libs; I think it occurs because ncurses newest version is 6, but wine still wants to use version 5.

[2017-05-01 08:22] feanor12 commented on #643
I will try to verfiy this. I searched for ncurses 5, but could not find the correct package.
If pol should work on all systems, I think we should include all libraries though.

[2017-05-01 08:58] plata commented on #643
Thanks a lot. Maybe it's just a missing dependency in the .deb. If you can verify this, please add it to #741.

[2017-05-01 10:03] plata commented on #612
While automatic DPI scaling should work with Windows, Mac and GTK+ 3 as of Java 9 (see [here](http://openjdk.java.net/jeps/263)), we still have the problem in other desktop environments (e.g. KDE). Therefore we should size according to the DPI ourself. We can provide themes for several target resolutions (see [JavaFX: Designing for Multiple Screen Resolutions](http://blog.randahl.dk/2012/12/javafx

[2017-05-01 11:15] #485 closed

[2017-05-01 11:30] plata opened #747 "AppPanel style is not updated"
The style of the `WebView` in the `AppPanel` is not updated when you change the theme.

[2017-05-01 11:34] plata opened #748 "remove absolute UI sizes from code"
E.g. `WinePrefixContainerPanel` sets `Hgap`, `Vgap`, and `Spacing`. This looks strange on a small scaling.

[2017-05-01 14:36] Ads20000 commented on #570
@plata I'll have good Internet again tomorrow, at the moment it's not good enough to test (1mbs eek!), remind me again tomorrow? :)

[2017-05-01 14:45] Ads20000 opened #752 "provide snap"
I haven't attempted this with anything Wine (or even anything Java) so far, so this may prove very difficult, but would be nice if packaging Phoenicis as a [Snap](https://snapcraft.io/) was on the to-do list.

(See [this](https://tutorials.ubuntu.com/tutorial/create-first-snap#0) for how to create Snaps)

I'll definitely have time to give this a go after 8th June.

Edit: well that didn't happen. I

[2017-05-01 15:00] #748 closed

[2017-05-02 16:57] plata commented on #570
@Ads20000 bump

[2017-05-02 17:29] plata opened #753 "Jenkins up to date?"
https://jenkins.io/security/advisory/2017-04-26/

@qparis can you check please?

[2017-05-02 17:43] plata commented on #752
I guess we need: https://snapcraft.io/docs/reference/plugins/maven

[2017-05-02 17:52] plata commented on #752
So the yaml needs to look somewhat like this:
[code]

[2017-05-02 18:26] plata commented on #752
Building this gives me: `package javafx.event does not exist` and similar.

[2017-05-02 18:30] plata commented on #752
It works with:
[code]
But I think it should be possible without setting the environment somehow?

[2017-05-02 18:54] plata commented on #752
With installation:
[code]

[2017-05-02 19:42] madoar commented on #752
This is quite dangerous in my eyes, what happens if the user uses oraclejdk instead of openjdk?

[2017-05-03 07:48] feanor12 commented on #643
I installed the packages mentioned above and I can verify that the message

does not show. When uninstalling the packages the message shows up again.

[2017-05-03 07:48] feanor12 commented on #741
libncurses.so.5 is missing

[2017-05-03 08:15] Ads20000 commented on #752
@plata does this plugin not fetch its own Java to use inside the Snap as it were? If it uses the Java currently installed or effectively overrides the existing Java installation globally this is a bad idea.

[2017-05-03 08:20] Ads20000 commented on #752
You could bundle Java in the package maybe? Though that would increase the size of the package a lot! And I'm not sure how to go about doing this anyway. It may be that we should make a common Java platform Snap for other Snaps to use to bring down size, though this would be hard work! Ask on the [Snapcraft forums](https://forum.snapcraft.io/) if you need to :)

[2017-05-03 15:54] plata commented on #752
@madoar I know. I'm not even sure why we need this environment. It should be possible to build without it, right?

[2017-05-03 15:58] madoar commented on #752
@plata take a look here: https://github.com/dataart-telco/mwc-snaps/blob/d892247d5bb0dc31d11e1bbfd74e31c3c263e3d2/camera-app-snap/snapcraft.yaml

It seems like you can specify `stage-packages` which seem to be needed dependencies.

I've never used Snap myself, so I can't give you much help for this.

[2017-05-03 16:34] plata commented on #752
It's possible to replace the manual build with:
[code]
But then I get: `Could not find any built jar files for part`.

Also looked into snap for the first time yesterday ;)

[2017-05-03 16:38] madoar commented on #752
Where did you put this yaml file?
I'm not sure how it should find the path to the jar in the correct project.

[2017-05-03 16:41] plata commented on #752
I don't even know if we can use the jar directly because we need the `lib` folder etc. (is this really the way you should deliver Java applications normally?)

[2017-05-03 16:46] madoar commented on #752
I don't know.
When I release a Java application, I would normally create a single jar file, that contains all needed libraries, especially if these libraries are jar files too.
Therefore it's quite simple for me to distribute my applications.

[2017-05-03 16:48] plata commented on #752
@qparis can you explain why we have this structure with several jar's in `lib`?

[2017-05-03 16:51] madoar commented on #752
I think the reason is, that we've essentially two POL 5 applications that are distributed together:

- The CLI
- The JavaFX GUI Client

To save some space, it's therefore better to ship the libs in a separate folder once, that to pack them in each needed jar file (one for the cli and one for the javafx application).

[2017-05-03 16:53] plata commented on #752
Makes sense. I know use the combination:
[code]
Builds and installs but gives `Error: Could not find or load main class org.phoenicis.javafx.JavaFXApplication` when I try to run it.

[2017-05-03 17:01] madoar commented on #752
I guess it's still missing the part where you specify the jar you associate with the snap application.

I must say that the documentation for the maven plugin is quite.... short.

[2017-05-03 18:08] qparis commented on #753
Jenkins is up to date

[2017-05-03 18:08] #753 closed

[2017-05-03 18:10] qparis commented on #752
We can easily create a standalone package with the maven assembly plugin if necessary, if required. I think it could be a good idea in our case.

We just have to add this piece of code in phoenicis-javafx app

<build>
        <plugins>
            <plugin>
                <artifactId>maven-assembly-plugin</artifactId>
                <configuration>
                    <archive>

[2017-05-03 18:16] qparis commented on #744
https://github.com/PlayOnLinux/POL-POM-5/tree/ce5a63719b10082f641ffaf8ba3116db8d13da28/phoenicis-tools/src/main/java/org/phoenicis/tools/archive/cab

[2017-05-03 18:16] #743 closed

[2017-05-03 18:17] qparis commented on #743
Closing this issue for the moment. We need to be more specific (One issue per kind of file we are going to need to extract)

[2017-05-04 00:31] Ads20000 commented on #752
@madoar 'I must say that the snap documentation for the maven plugin is quite.... short.' I'll flag that up with the Snapcraft guys thanks!

[2017-05-04 01:12] Ads20000 opened #754 "Cancel button not fully visible"
The cancel button on an install wizard should be fully visible, most applications don't shorten it in this way. I don't know what you'd actually need to do to fix this, maybe lengthen both buttons?
![screenshot from 2017-05-04 02-10-41](https://cloud.githubusercontent.com/assets/3178485/25687534/180a7d6e-306f-11e7-9f06-f040c34fcd48.png)
![screenshot from 2017-05-04 02-12-26](https://cloud.githubus

[2017-05-04 01:55] Ads20000 commented on #570
@plata Successfully installed Age of Empires II HD on a clean Phoenicis `git clone` and I deleted the hidden folders in `~`. Either you fixed it or I just needed a clean install. Cheers for following up on this!

[2017-05-04 01:55] #570 closed

[2017-05-04 08:46] madoar opened #755 "Permission to selfassign issues"
@qparis can I please get the needed permissions to selfassign issues? I think this has two benefits:

1. It becomes clear who is working on what
2. It prevents that two people accidentally work on the same issue

[2017-05-04 12:32] #755 closed

[2017-05-04 21:46] qparis commented on #754
Yes we need to lengthen the two buttons :)
You can also reduce the size of the text

[2017-05-04 21:53] madoar commented on #754
I think the best way to do is to make the button size fit to its content.
We should do this to enable an easy scaling of the components.

[2017-05-05 12:23] madoar opened #757 "Problem with resizing images"
When opening POL 5, with the default scaling (the slider in the settings is in the middle), POL 5 will look like this:
![grafik](https://cloud.githubusercontent.com/assets/18488086/25745220/21d8d19e-319e-11e7-835c-5a64ac09e879.png)
We need to make sure that the images are resized too, and that the text below the images are fully visible.

If you change the slider to the left, the text below the im

[2017-05-05 15:21] #726 closed

[2017-05-05 15:36] plata commented on #757
Agree to scaling the pictures. However, the broken text is not related to that. I will update the themes, that should fix it.

[2017-05-05 16:02] madoar opened #758 "Add JavaDoc/Documentation for the window makeup and its management"
Currently we have no documentation, that describes how the POL 5 GUI is made up.
Therefore we should add a documentation that describes the elements that make up the POL 5 GUI, and how they work together.
In addition we should add JavaDoc to the MainWindowView class, because it makes up the core of the POL 5 GUI.
For more details see #737.

[2017-05-05 16:08] madoar opened #759 "Add a "close" button to the details view"
Currently it's only possible to close the details view through a category change or a searchterm entry.
In addition to these methods we should also provide a "close" button for the details view, that enables the user to close it and maybe also do some cleanup work, like clearing the selection in the miniature list widget.

A basic close button css class for the default layout can be found in #738.

[2017-05-05 16:12] madoar commented on #736
@plata if you have nothing against it, I would like to have a go at this.
What I would like to know before I start is, which buttons in the left bottom of the sidebar do we want to use? It seems like the Faenza icon set has 2 icons we could use, at least for the default design.
But I must say that I like the icons from your screenshot better. If you agree with them too can you share them here?

[2017-05-05 16:18] plata commented on #736
Feel free to assign yourself. The icons in my screenshot are from Breeze Dark (actually from a screenshot I made of Dolphin). I'm not sure we should use them in the default theme. The style should match Faenza, so I would try those icons first.

[2017-05-05 16:22] plata commented on #736
Should be:
* view-list-compact-symbolic.png
* view-list-details-symbolic.png
* view-list-icons-symbolic.png

[2017-05-05 18:01] plata commented on #754
@madoar how did you do this? I cannot reproduce the behavior.

[2017-05-05 18:04] madoar commented on #754
That's a good point.
I can't reproduce this either...

[2017-05-05 18:13] madoar opened #765 "Maven formatter plugin seems to ignore indention"
After executing `mvn java-formatter:format`, it seems like the indention is ignored.

[2017-05-05 18:16] madoar commented on #765
A reason for this could be the used version of the plugin.
We're currently using version 0.4, but it seems like version 2.0 is the most current one.
But I'm also unsure which version to use, because they seem to target different eclipse versions.
See https://github.com/revelc/formatter-maven-plugin for more details

[2017-05-05 18:19] plata commented on #765
Are you sure that this is the same plugin?

[2017-05-05 18:21] plata commented on #757
Regarding the images: Do you have an idea how to do this? I've tried that in #746 already but it's not so straight forward.

[2017-05-05 18:25] madoar commented on #765
Not 100%, but because google code is offline for a while now and https://github.com/revelc/formatter-maven-plugin was previously called maven-java-formatter-plugin and located at google code, I'm guessing that it's the same plugin.

[2017-05-05 18:28] plata opened #766 "Maven formatter plugin does not run automatically"
see discussion in #756

[2017-05-05 18:33] madoar commented on #766
I just discovered that `mvn clean test` doesn't trigger the formatter too.
So it seems we need to run `mvn java-formatter:format` manually to trigger the formatter.
Not sure if this version dependent.

[2017-05-05 18:39] madoar commented on #757
Sorry I have no clue too.
As far as I understand it the font size should apply to images too, but in some sporadic cases it doesn't work.
If we can't solve this we should think about using another approach to scaling/resizing the themes.

[2017-05-05 19:09] plata commented on #765
I tried this plugin in plata:formatter but I cannot make it work (don't know enough about maven). I followed the example for [Multimodule Configuration](http://code.revelc.net/formatter-maven-plugin/formatter-maven-plugin/examples.html).

[2017-05-05 19:16] plata commented on #757
The problem here is that the image is created from a byte[] inside the code. It should work if we would set the path instead and define the size in the CSS.

[2017-05-05 19:17] madoar commented on #765
What error are you receiving?
In addition it seems like you've forgotten to add a dependency to build-tools:
[code]

[2017-05-05 19:22] madoar commented on #757
So we need to create a css file on the fly, for the images?
It would be nice if we could do this semi persistent (i.e. not in a temp folder), what do you think?

[2017-05-05 19:23] plata commented on #765
[code]
Seems like it tries to upload the `build-tools` module to some website... No idea why.

[2017-05-05 19:29] plata commented on #757
Don't think that's needed. We can directly set the CSS code for the image in the code.
[code]

[2017-05-05 19:30] madoar commented on #757
You're right this is more elegant and doesn't need us to create a temp file at all.

[2017-05-05 19:37] madoar commented on #765
The build-tools dependency inside the plugin tags isn't your module. It should be https://github.com/hazendaz/build-tools

[2017-05-05 19:41] plata commented on #765
Then I get
[code]

[2017-05-05 19:50] madoar commented on #765
The message should mean that the following property is invalid:
[code]

[2017-05-06 09:22] plata commented on #765
Yes. I don't understand how it should know that the config file is located in `build-tools/src/main/resources/eclipse` based on the `pom.xml` from the example for [Multimodule Configuration](http://code.revelc.net/formatter-maven-plugin/formatter-maven-plugin/examples.html).

[2017-05-06 09:31] madoar commented on #765
Your own submodules should be already known to maven, because you've defined them a layer above.
I guess something goes wrong when the plugin is resolving the file path. Do you have any additional debug output from the maven plugin?
I'm asking, because the plugin is using the following method internally:
[code]
In case the config file couldn't be found it should print a debug message.
If you want

[2017-05-06 09:50] plata commented on #765
Even if the file is somewhere in a module? Would you mind trying this yourself (you should be able to checkout my branch)?

[2017-05-06 10:20] madoar commented on #765
Ok, I got it working. Try the following:
[code]

The problem was that the plugin couldn't find the configfile `inside` the `pheonicis-configuration` project.
To get more detailed information from maven try: `mvn -X clean compile`. `-X` enables the debug output.

[2017-05-06 10:23] plata commented on #765
In this case we can leave the config file where it was before. I just moved it to the module because the example said so.

[2017-05-06 10:25] madoar commented on #765
Yes, that would have been my next suggestion ;)

[2017-05-06 10:51] madoar opened #768 "Update maven dependencies"
Currently we're using some outdated maven dependencies (see #767 for example).
Therefore it would be good to go over each of them and update them to a more current or up to date version.
To see for which dependency a newer version exists we can use `mvn versions:display-dependency-updates`.

[2017-05-06 10:55] #765 closed

[2017-05-06 11:07] plata opened #770 "rename apps module"
It does not only handle apps but also functions/verbs. Maybe "repository" would be better? (see also #756).

[2017-05-06 11:10] plata commented on #768
Can we use [Versions Maven Plugin](http://www.mojohaus.org/versions-maven-plugin/) and `use-latest-releases` (see [Maven update dependencies in POM](https://stackoverflow.com/questions/973081/maven-update-dependencies-in-pom))?

[2017-05-06 12:41] ycmjason opened #771 "Unable to run on archlinux"
I have followed the [build instructions](https://github.com/PlayOnLinux/POL-POM-5/wiki/Build). At the last step when I try to do `sh phoenics.sh` it failed.

[code]

[2017-05-06 12:44] madoar commented on #771
Hi, this normally means, that you have a too old java version.
To run POL 5 you need Java 8 with Javafx.
Can you please run `java --version` and tell us which java version you use?

[2017-05-06 12:50] ycmjason commented on #771
Thank you for spotting this so quickly.

I just switched to archlinux from ubuntu and didn't know that you have to switch the java version once you have installed java8 on the machine. it works now.

I found this particularly useful for anyone who had the same problem.
https://wiki.archlinux.org/index.php/java#Switching_between_JVM

[2017-05-06 12:50] #771 closed

[2017-05-06 13:12] ycmjason opened #772 "Wine cannot find the ncurses library (libncurses.so.5)"
This happens when I want to run the game.

[code]

Sorry, it's me again. Any idea how to fix this? I seem to have libncurses.so.6 instead of 5.

Note: I am on archlinux.

[2017-05-06 13:26] madoar commented on #772
When exactly do you get this error?
@plata, I think you're more knowledgeable about this.

[2017-05-06 13:29] madoar commented on #768
I think that we could at least try.

[2017-05-06 13:31] madoar commented on #757
Should we create a new issue for the extraction of the image data to the style properties, or should we do that in the scope of this Issue too?

[2017-05-06 14:19] ycmjason commented on #772
I am trying to run league client. :(

[2017-05-06 15:48] ycmjason commented on #771
not really i think. but would be nice if included maybe?

[2017-05-06 16:00] plata commented on #771
Wiki is updated.

[2017-05-06 16:24] plata commented on #768
@qparis do we need a special plugin version somewhere?

[2017-05-06 16:33] plata commented on #757
I guess the question is obsolete after #773, right?

[2017-05-06 16:36] plata commented on #772
I don't know for arch but for Ubuntu this is a duplicate of #741. I guess you just have to install libncurses 5.

[2017-05-06 17:49] madoar commented on #757
Yes, it should be.

[2017-05-06 18:56] Ads20000 opened #774 "Repositories Settings has small unresizable box"
Why is it like this? This should automatically expand out to the right at I expand a window and automatically contract as I make it smaller. Like Ubuntu's Software & Updates app, for example.

![screenshot from 2017-05-06 19-49-26](https://cloud.githubusercontent.com/assets/3178485/25775135/15b9a430-3296-11e7-8552-d7cca5fa7717.png)
![screenshot from 2017-05-06 19-55-11](https://cloud.githubusercon

[2017-05-06 21:15] Ads20000 opened #776 "Use the file manager for picking a local repository for scripts"
This would be much more intuitive than knowing you have to put `file:///` before a directory and typing it in manually.

[2017-05-06 21:30] madoar commented on #776
The idea to use a file manager to pick a local repository is good, but the problem is how to identify which kind of repository the user wants to add?
If the user wants to add a git repository a file manager is useless to him, the same is true for the classpath repository.
Therefore we would need to somehow identify what type of repository the user wants to add.

[2017-05-06 21:34] madoar commented on #754
@Ads20000 can you tell us what commit you used to build POL 5, if this only happens with the default theme and in case you already use a commit that enables you to scale the gui in the settings, what scale setting you've used?

[2017-05-06 21:38] madoar commented on #711
After we've removed the HiDPI theme in the settings and replaced it by a scaling option, is it still needed to add a way to set the HiDPI state in the `ThemeManager`?

[2017-05-06 21:39] Ads20000 commented on #754
@madoar Looking at the commit dates I'm assuming [1b993fb877a168bf0eb4f7200b015304f8ba0997](https://github.com/PlayOnLinux/POL-POM-5/commit/1b993fb877a168bf0eb4f7200b015304f8ba0997) since that's when I reported this and I'm pretty sure I reported it straight after a fresh `git clone`.

`git pull ; mvn clean package` works fine for updating right? Can try the latest commit doing that?

[2017-05-06 21:46] madoar commented on #754
`git pull`
`mvn clean package`
should work for updating the application files.

It seems like the commit you've used already contains a part of the scaling support.
Therefore it would be nice if you could check two things:

1. Please check if it works with the most current commit, because we've changed some things.
2. Play a little with the "Scale the user interface" slider in the `User Interface`

[2017-05-06 22:13] Ads20000 commented on #754
@madoar Same problem with the most current commit.
This setting works
![screenshot from 2017-05-06 23-12-16](https://cloud.githubusercontent.com/assets/3178485/25776256/8385832e-32b1-11e7-801c-2e613b508f58.png)
This setting doesn't
![screenshot from 2017-05-06 23-12-33](https://cloud.githubusercontent.com/assets/3178485/25776259/9216a896-32b1-11e7-8016-5e4fa38a7b41.png)

[2017-05-07 08:49] plata commented on #776
This requires a small wizard with two steps:
1. select repository type (combobox)
2. select repository path (file chooser or text box)

[2017-05-07 08:50] plata commented on #711
No.

[2017-05-07 08:53] plata commented on #754
@madoar maybe #760 helps? If you could merge the commits (#760 - #763) which fix the themes @Ads20000 could try again.

[2017-05-07 08:59] madoar commented on #776
@plata should we implement such a wizard? I'm not sure if we'll need additional work to style it correctly?

[2017-05-07 09:01] plata commented on #776
I'm also a bit concerned about the look and feel. But I don't see another possibility currently.

[2017-05-07 09:07] plata commented on #612
Fixed by #746, #749, #750, #760 - #763.

[2017-05-07 09:07] #612 closed

[2017-05-07 09:12] plata commented on #766
@madoar this is fixed by #767, right?

[2017-05-07 09:29] plata commented on #733
Superseded by and #737 and #759.

[2017-05-07 09:29] #733 closed

[2017-05-07 10:36] plata commented on #752
@qparis I cannot get that working somehow. Doesn't seem to create any output.

[2017-05-07 11:21] madoar commented on #752
@plata try the following:
[code]
The problem is that the plugin wasn't bound to the package phase.

[2017-05-07 11:53] plata commented on #752
That works. But when I try to run, I get: `main class org.phoenicis.javafx.JavaFXApplication could not be loaded`.

[2017-05-07 11:54] madoar commented on #752
How do you run it?

[2017-05-07 11:55] plata commented on #752
`java -jar phoenicis-javafx-5.0-SNAPSHOT-jar-with-dependencies.jar `

[2017-05-07 11:59] madoar commented on #752
If I add the given snapshot to the `pom.xml` file in the `phoenicis-javafx` project and afterwards run your command in the target folder of the `phoenicis-javafx` project it works for me.

[2017-05-07 12:03] plata commented on #752
Strange.

[2017-05-08 15:57] plata commented on #752
I can't even run it via `phoenicis.sh` in dist anymore. However, it works fine from my IDE.

[2017-05-08 16:06] madoar commented on #752
What java version are you using? If I remember correctly you're using OpenJDK right?
I'm using OracleJDK, maybe that's the reason?
[code]

[2017-05-08 16:07] plata commented on #774
fixed by #775

[2017-05-08 16:07] #774 closed

[2017-05-08 16:07] plata commented on #752
I found that I had JRE 9 installed as well. Maybe that's the problem.

[2017-05-08 16:09] madoar opened #777 ""Refresh Repositories" button in the settings is missing a border in the default theme"
![grafik](https://cloud.githubusercontent.com/assets/18488086/25813320/636556c8-3419-11e7-85ea-f38daf46129c.png)

[2017-05-08 16:25] plata commented on #772
duplicate of #643

[2017-05-08 16:25] #772 closed

[2017-05-08 16:30] plata commented on #752
After deleting JRE 9 and fixing a dangling alternative (as described [here](https://askubuntu.com/questions/110423/java-command-not-found)), I can run it again.

[2017-05-08 16:49] plata commented on #777
This is caused by
[code]
If you remove this from the CSS, the border will be back. However, it will look strange because there's an empty space on the left (where the icon is placed).

[2017-05-08 16:54] madoar commented on #777
The problem is that it currently doesn't look like a clickable component.

[2017-05-08 17:00] plata commented on #777
![button](https://cloud.githubusercontent.com/assets/3973260/25815435/a4e0f312-3420-11e7-8930-94bef87b7cc2.png)

[2017-05-08 17:04] plata commented on #777
I don't think we want that, do we?

[2017-05-08 17:12] madoar commented on #777
No, that doesn't look good.
Alternatively we can rethink the idea of using the refresh icon inside the button.
What's important in my eyes is that the user sees that POL 5 is doing something, I'm not sure if a simple disable on the button is enough here, any ideas?

[2017-05-08 17:14] plata commented on #752
With the following yaml, it begins to start:
[code]

But fails immediately with:
[code]

[2017-05-08 17:20] plata commented on #777
We could add on overlay (StackPane) over the complete repository settings panel (white, opaque) and show the icon there (maybe even spin it with an animation).

[2017-05-08 17:22] plata commented on #752
This error can be fixed with
[code]

[2017-05-08 17:28] plata commented on #752
Not sure if the fonts need to be configured like [here](https://github.com/ubuntu/snappy-playpen/blob/af7154cc9cac61d55b17c4aa9517c4d7c003a1a0/openjdk-demo/FileChooserDemo.sh).

[2017-05-08 18:03] madoar commented on #752
Does it work correctly if you add the fonts to the `stage-packages`?

[2017-05-09 17:15] plata commented on #752
How?

[2017-05-09 20:11] madoar commented on #752
It seems like I've misread your last post.

[2017-05-12 15:39] #757 closed

[2017-05-12 19:32] madoar opened #780 "Adjust the ShortcutDTO creation method to correctly work with URIs"
After merging #773 the creation of a `ShortcutDTO` is as followed:
When a `ShortcutDTO` is created, it receives the `URI` objects from the corresponding `ApplicationDTO` object. Only after a restart of POL 5 the `URI` will be corrected to link to a copy of the icon/miniature, which belong to the shortcut, instead of the icon/miniature belonging to the `ApplicationDTO`.

We should adjust the behavi

[2017-05-12 19:34] madoar opened #781 "Add documentation to the wiki for the css classes appMiniature and miniatureImage"
During #773 we discovered that we need to adjust/add the documentation in the wiki for the new css classes `appMiniature` and `miniatureImage`, which are responsible for the visualization of the images in the `AppPanel` class and the `MiniatureListWidget`.

[2017-05-12 19:36] madoar opened #782 "Clean up the css classes for the miniature list widget"
Currently some css classes for the miniature list widget are missing some important definitions, like `.miniatureText` which is missing `-fx-pref-width` and `-fx-pref-height`.
Other classes contradict each other, like `.miniatureListElement` and `.miniatureImage` with their different `-fx-background-radius`, `-fx-pref-width` and `-fx-pref-height` attributes.

[2017-05-12 19:38] madoar opened #783 "Change icon String in CategoryDTO to an URI"

[2017-05-13 10:45] plata commented on #781
I've updated the wiki. Please check if it is ok now.

In case you want to add/update a picture: I select the part which I want to highlight with a rectangle with border radius 5, invert the selection and fill everything with black at 40% opacity.

[2017-05-13 11:37] madoar opened #785 "Add a method to ApplicationDTO to get the main miniature"
Currently the class `ApplicationDTO` contains no method to return the main miniature belonging the application, which can be identified by its filename which is `main.png`.
This main miniature is used for in the `MiniatureListWidget` and eventually during the shortcut creation.

[2017-05-13 11:53] #783 closed

[2017-05-13 13:12] madoar commented on #781
The wiki article looks good to me. What application do you use to prepare the screenshots?

[2017-05-13 16:00] plata commented on #781
GIMP.

[2017-05-13 16:00] #781 closed

[2017-05-13 17:18] plata commented on #292
@qparis maybe we could add a field to `phoenicis.cfg` where you can set the path to the engine binary manually. What do you think?

[2017-05-13 18:29] plata opened #790 "shortcut categories"
It would be helpful to categorize the shortcuts (same categories as for apps). Then we could group them by category in the "Library" tab. If you have many shortcuts in your library, this would make navigating it a lot easier. The correct category can be determined during the installation of an app (simply use app category also for the shortcut).

[2017-05-14 09:55] plata opened #792 "read engine category icon from repository"
The icon for the engine category is currently set in `EngineSideBar`
[code]
The solution is a bit strange as it does not use the icon from the DTO. Therefore it might not even work in certain cases e.g. if you implement a custom engine in your own repository. To solve this, the engine category icon should be part of the repository.

[2017-05-14 10:33] #739 closed

[2017-05-14 10:36] #768 closed

[2017-05-14 15:15] qparis commented on #736
Honestly I find the miniature list cleaner

[2017-05-14 15:16] qparis commented on #736
I think you could take advantage of the list to display extra information

[2017-05-14 15:16] qparis commented on #736
However, we should let the user chose want view he wants

[2017-05-14 15:26] madoar commented on #736
@qparis what do you mean with miniature list? My "new" one or the old one?

This is only my first approach, where I'm testing how to set the width/height etc. properties.
Therefore you can't switch the view atm.
What additional information do you want to have shown?

[2017-05-14 15:31] qparis commented on #736
The name of the container, or the engine could be displayed for instance

[2017-05-14 15:35] madoar commented on #736
As far as I know these information are not available for the `ApplicationDTO` objects in the "Apps" tab?
I'll keep it in mind, when I add the new list to all tabs

[2017-05-14 15:38] qparis commented on #736
This is correct. The idea is just ton leave less empty spaces.

You could also put the category of the app

[2017-05-14 15:39] madoar commented on #736
The category is a good idea.
But I'm not sure how to prevent empty space, especially if the user has the ability to change the size of the POL 5 window, as shown in my last screenshot.
There is only so much information to be shown...

[2017-05-14 15:43] madoar commented on #736
In addition it's quite problematic if a list entry contains too much information, because we need to add a horizontal scrollbar then. This then makes the list hard to use, or even impossible to use, especially when the user has a small POL 5 window or a small monitor/resolution, see my earlier screenshots how much space is available inside the small list.

[2017-05-14 15:56] plata commented on #736
I like it. Can we also have a version without images (that's what I had in mind originally)? Also I don't feel like the empty space is a problem. In my opinion, you would choose the list to save space so the 3. screenshot represents the looks much better than the last one.
We can think about showing additional information like category, compatible for my OS, commercial etc. However, if we do this,

[2017-05-14 15:58] madoar commented on #736
@plata yes I've planned for 3 versions, the old miniature list widget, an icon list (see my screenshots) and a detailed list without icons.

[2017-05-14 16:11] plata commented on #736
That's great! I think the implementation for this issue can really concentrate on the basics. As long as you can switch the views, it's sufficient for me. All the other improvements can be done later on.

[2017-05-14 16:18] madoar opened #794 "Use nested css classes"
Now that we can use less files instead of css files I think it's a good idea to use a nested css class hierarchy instead of a flat one.

For example, currently we have these css classes:
[code]

To make it better readable, and show how these elements are nested, I propose to use:
[code]

[2017-05-14 16:22] #675 closed

[2017-05-14 16:23] plata commented on #794
Honestly, I doubt that this structure will be clear in a large file.

[2017-05-14 16:56] madoar commented on #794
I wouldn't make a single hierarchy, but multiple ones for key components, like the miniature list widget.
The benefit of this is, that you directly see what is defined in which component, this is especially helpful if you have multiple nested container components and you're not sure which size definitions apply to whom else.
For example in my code-snipped you can see on one view, that preferred wi

[2017-05-15 11:07] madoar commented on #736
Here a few more screenshots of how it looks currently:
![grafik](https://cloud.githubusercontent.com/assets/18488086/26054984/393053b6-396f-11e7-9700-1d0f1ba5c302.png)
![grafik](https://cloud.githubusercontent.com/assets/18488086/26054985/3b09c8de-396f-11e7-9d5a-4b55eab0aeec.png)
![grafik](https://cloud.githubusercontent.com/assets/18488086/26054990/3cfc824e-396f-11e7-8576-09fdc27824cd.png)
![graf

[2017-05-15 14:57] plata commented on #736
:+1:

The left alignment of the switch button doesn't seem to be right.

[2017-05-15 15:01] plata commented on #794
I see. I guess we just have to try it.

[2017-05-16 18:59] #790 closed

[2017-05-17 08:43] madoar opened #796 "Illegal URI characters in game paths"
Some games contain illegal characters in their path, which can make it impossible or at least hard to shown images from their corresponding folders.
An example for this is Assassin's Creed Revelations:
![grafik](https://cloud.githubusercontent.com/assets/18488086/26145661/86775dd4-3aed-11e7-8aaa-73cbdaea5f9f.png)
On the screenshot you'll see, that the miniature in the right details view isn't show

[2017-05-17 15:49] plata commented on #796
This is a duplicate of PlayOnLinux/Scripts#229.

[2017-05-21 09:39] madoar opened #807 "Necessary features for Release"
I think it's time we make a plan what needs to be done that we can do a beta or final release of POL 5.
A release would give us the benefit that we get a larger number of users that test POL 5 and find bugs and things to improve and add. In addition we would attract more people to write scripts compatible with POL 5.

[2017-05-21 09:54] plata commented on #807
In my opinion, we could already announce the current version as "alpha" on playonlinux.com. After that, we should prepare for "beta".

The first things we should handle are issues which would otherwise affect people later on, e.g.:
* #796
* #745
* #696
* #579

Before "beta", we should also consider #557.

[2017-05-21 09:59] plata commented on #754
@Ads20000 closing this as neither me not @madoar could reproduce it and the styles have been updated. If you can reproduce the issue with the current master, please re-open this issue.

[2017-05-21 09:59] #754 closed

[2017-05-21 09:59] #766 closed

[2017-05-21 10:00] plata commented on #598
@qparis any update on this one?

[2017-05-21 10:01] plata commented on #611
@qparis closing as there is a description in the wiki now. Feel free to update it if required.

[2017-05-21 10:01] #611 closed

[2017-05-21 10:02] madoar commented on #807
I would also suggest doing:
- #741
- #731
- #759
- #702
- #643
either for the "alpha" or "beta" release.
I think we should add a new a new "project" in the projects page here on github with the following sections (and maybe more?):

- Important bugfixes
- Alpha features
- Beta features
- Other features

As a side note:
Do we still have a SonarQube? Because the link on github seems to be unavailabl

[2017-05-21 10:02] plata commented on #672
Fixed by #788.

[2017-05-21 10:02] #672 closed

[2017-05-21 10:04] plata commented on #807
SonarQube: see #598

[2017-05-21 10:16] plata commented on #807
The issues that you linked should be done for beta. I think we can expect people to build alpha from GitHub (so the .deb issues are not so important). I would like to make sure that we do not have big structural changes once people start using the software (e.g. with #796 you must reinstall your apps/rename your folders). Moreover, I want to introduce the Phoenicis brand right from the beginning t

[2017-05-21 10:17] plata commented on #796
@madoar do you also watch the scripts repository? I have this and some other PRs there which should be reviewed.

[2017-05-21 10:19] plata commented on #722
@madoar is this still valid?

[2017-05-21 10:21] madoar commented on #796
I don't watch it, because I'm not an expert at writing script. I would love to review the scripts but I don't have the rights for that in the Scripts repository.

[2017-05-21 10:22] madoar commented on #722
I would like to try this in combination with #731, but I didn't find the time yet to try this.

[2017-05-21 10:24] plata commented on #796
@qparis could you please give @madoar the rights for the Scripts repository?

@madoar I would appreciate if you could also watch it. Currently there's not a lot going on but that should change soon. Then it would be nice to have some people who can approve scripts which are submitted.

[2017-05-21 10:24] plata commented on #722
Ok. Just looking through the issues again to see what can be closed or not.

[2017-05-21 10:28] plata commented on #736
Fixed by #797.

@madoar could you use keywords in the future so that the fixed issue is closed automatically (see <https://github.com/blog/1506-closing-issues-via-pull-requests>)?

[2017-05-21 10:28] #736 closed

[2017-05-21 10:40] madoar commented on #736
I'm trying, but I didn't want to close this after my PRs were merged, because I thought that we need to improve the themes first to be more compatible with the new list widgets. Now that you did some PRs that targeted this goal we can close this.

[2017-05-21 10:41] plata opened #808 "create localization roadmap"
Create a roadmap for the localization of Phoenicis. This includes:
* this application
* scripts (see PlayOnLinux/Scripts#49)
* website? (see #557)

For the Phoenicis application:
* decide how to do localization with Java(FX) (e.g. this [tutorial](https://docs.oracle.com/javase/tutorial/i18n/index.html), or with [GNU gettext](https://www.gnu.org/software/gettext/manual/html_node/Java.html))
* decid

[2017-05-21 10:41] madoar commented on #796
Ok, I'm watching the Scripts repository now.

[2017-05-21 10:44] plata commented on #4
Superseded by #808.

[2017-05-21 10:44] #4 closed

[2017-05-21 10:44] plata commented on #392
Superseded by #808.

[2017-05-21 10:44] #392 closed

[2017-05-21 10:45] plata commented on #736
In those cases it would be better to create a new issue which specifically targets the left open topics.

[2017-05-21 10:46] madoar commented on #736
Ok, I'll try to keep this in mind

[2017-05-21 10:47] plata commented on #796
Thanks. I have the rights to merge there without review so you can just leave a comment if it's ok or not (didn't want to merge without someone at least have a look at it).

[2017-05-21 10:50] madoar opened #809 "Replace the .selected class for the IconsListElement with a PseudoClass :selected"
Currently we're using a css class `.selected` to mark all `IconsListElement` that are selected.
To make this more in line with the javafx components provided by javafx directly, we should change this to a `:selected` PseudoClass.
A tutorial, that explains how to create a custom PseudoClass, can be found [here](http://www.guigarage.com/2016/02/javafx-and-css-pseudo-classes/).

[2017-05-21 10:53] madoar opened #810 "Improve the IconsListWidget"
Currently it seems to me that each `IconsListElement` inside a `IconsListWidget` looks kind squeezed.
Therefore I would suggest to make the `IconsListElement` a little larger and enable the title at the bottom of each `IconsListElement` to contain up to two lines of text. This makes it possible to also show slightly longer titles correctly (and fully).

[2017-05-21 11:00] plata commented on #687
As we maintain our own .desktop files, I think it would make sense to disable the shortcuts created by winemenubuilder in general. See [Wine.hq FAQ](https://wiki.winehq.org/FAQ#How_can_I_prevent_Wine_from_changing_the_filetype_associations_on_my_system_or_adding_unwanted_menu_entries.2Fdesktop_links.3F) for how to do this (we would implement it in JS Wine). This would also assure that those shortc

[2017-05-21 11:01] plata commented on #810
Yes. I've also been thinking about two lines for the title already.

[2017-05-21 12:01] madoar commented on #687
If I understand you correctly you suggest to handle the shortcut management in POL 5 only and don't use wine features for this? Therefore we need to supply functionality to create, maintain and delete shortcuts?

If my understanding is correctly I think this is a good approach.

[2017-05-21 12:13] plata commented on #687
Yes. As we maintain our own shortcuts anyways, I think this is the simplest solution.

[2017-05-21 12:20] #809 closed

[2017-05-21 12:24] #511 closed

[2017-05-21 12:24] #687 closed

[2017-05-21 12:27] madoar commented on #759
@plata I'm thinking about which container component to use for this. I think we should use either a `StackPane` or a `BorderPane`, what do you think would be best?

[2017-05-21 12:33] plata commented on #759
I think `BorderPane`. Maybe like:
![close](https://cloud.githubusercontent.com/assets/3973260/26284027/7260be06-3e32-11e7-85d5-c0b6b369ff63.png)

[2017-05-21 12:34] madoar commented on #759
Exactly, the only problem with the `BorderPane` approach is, that it has this ugly empty space above the "title" of the details panel.

[2017-05-21 12:38] plata commented on #759
Yes. That's the reason why I'm not sure if we should really have such a button. It's quite ugly and to be honest I don't really see the huge benefit.

The other option would be to collapse it from the left side:
![collapse](https://cloud.githubusercontent.com/assets/3973260/26284071/2d8fc334-3e33-11e7-9169-568216624576.png)

[2017-05-21 12:40] madoar commented on #759
How should this behave? When using such a button I would expect that another one is on the right side, that let's me enlarge the screen again afterwards.

[2017-05-21 12:44] plata commented on #759
You're right. Doesn't make sense as you could select a different app in the meantime.

[2017-05-21 12:46] madoar commented on #759
I think we should go with the `BorderPane` approach, with a slight modification.
Why not define an abstract class that requires a `Optional<String> getViewTitle()` method to be implemented. The `MainWindowView` then takes an object of this abstract class type and adds the optional title next to the "close" button in the "header" bar?

[2017-05-21 12:50] plata commented on #759
Or a `DetailsView` which is implemented by `LibraryPanel`, `AppPanel` etc.

[2017-05-21 12:52] madoar commented on #759
I guess we mean the same thing, my abstract class would then be called `DetailsView`.
Or do you suggest adding the close button inside the `DetailsView` class?

[2017-05-21 13:08] plata commented on #759
Yes that was my idea. However, in the end it doesn't really matter which way we choose.

[2017-05-21 15:20] madoar commented on #810
I think, if we want to make the title take up up to two lines, we'll need to change the dimension of the `IconsListElement` to be a square.
I'm not sure if this would break the current look of the `IconsListWidget`.

[2017-05-21 15:25] madoar opened #814 "Unify and rename the different css classes for the list widgets"
Currently a lot of the css classes for the list widgets are named wrong.
An example for this would be the css class `.iconListCell` inside the css class `.compactListWidget`, which should be renamed to `.compactListCell`.
These kinds of css classes should be renamed to more fitting names.

In addition we should try to define properties, that are or should be used for all types of list widgets, onl

[2017-05-22 10:25] madoar commented on #796
@plata to close this issue we'll still need to rename the folders in the Scripts repository to not contain "illegal" characters (like `'`).

[2017-05-22 10:26] madoar commented on #747
I'm not sure how to do this, do you have an idea?

[2017-05-22 10:27] madoar commented on #777
Let's go with your `StackPane` approach, I think this will look good and give the user the feeling something is currently happening in POL 5.

[2017-05-22 10:29] madoar commented on #643
@plata is there anything we can do about this issue?

[2017-05-22 10:43] madoar commented on #557
Is there already a plan about how to create the website? Do you want to use a CMS or do you want to write a custom website? If you want to write a custom website with which technology?

[2017-05-22 10:44] madoar commented on #807
I've just updated out project page, it would be nice if you can take a look at it @plata.

[2017-05-22 13:03] qparis commented on #557
For a start, we are going to create a very simple website. I don't think we are going to need a CMS for that :-)

[2017-05-22 13:04] qparis commented on #557
I will handle this ticket

[2017-05-22 15:17] plata commented on #557
@qparis that's great!
@madoar for the beginning, it's important to have a website which presents the Phoenicis brand, showcases the application and links to GitHub. Everything else (like e.g. forum) can be done later on.

[2017-05-22 15:18] plata commented on #807
Ok. As I said before, I'm not really sure how helpful this is. Maybe milestones would be better.

[2017-05-22 15:20] plata commented on #643
I'm not sure (I don't know how it should behave). @qparis how was it in PoL4? Did it use the system libs or was the path set to the specific lib folder of the wine version?

[2017-05-22 15:28] plata commented on #747
Not really. Maybe we could bind the `userStyleSheetLocationProperty` of `WebEngine` to the `ThemeManager` somehow (don't know if that would even reload the CSS). However, this issue is not important at all (you will not notice unless you switch themes all the time). Therefore it should not be assigned to "Beta".

[2017-05-22 16:12] #696 closed

[2017-05-22 16:12] #796 closed

[2017-05-22 17:17] #759 closed

[2017-05-22 19:17] madoar opened #818 "Refactor AppPanel"
Currently the class `AppPanel`, which is opened when a user selects an application in the "Apps" tab, needs to be refactored:

- [ ] the class shouldn't add a css class to itself directly, because this affects the look and feel of the header of the details view, which contains the title and close button
- [X] the used `WebView` needs to update its css automatically, whenever the theme is switched

[2017-05-22 19:28] madoar opened #819 "Refactor AbstractContainerPanel and WinePrefixContainerPanel"
Currently the class `AbstractContainerPanel` and its subclass `WinePrefixContainerPanel`, which is opened when a user selects a container in the "Containers" tab, need to be refactored:

- when opening a `WinePrefixContainerPanel` it takes too much space. If you don't resize your POL 5 frame, this leads to the `WinePrefixContainerPanel` being larger than the space it's shown in, which leads to the

[2017-05-22 19:32] madoar opened #820 "Refactor EnginePanel"
Currently the class `EnginePanel`, which is opened when a user selects an engine in the "Engines" tab, needs to be refactored:

- [x] the class shouldn't add a css class to itself directly, because this affects the look and feel of the header of the details view, which contains the title and close button
- [x] inside `EnginePanel` some javafx components use `setSpacing()`, `setPrefHeight` and othe

[2017-05-22 19:33] madoar opened #821 "Split the tabs inside WinePrefixContainerPanel in multiple classes"
This can/should be done together with #819

[2017-05-23 15:00] plata commented on #819
I'm not sure it's a good idea to have all this in one issue. In fact those are distinct topics which can/should be handled individually.

[2017-05-23 15:01] #777 closed

[2017-05-23 15:38] madoar commented on #818
Fell free to split it up when working on this :)

[2017-05-23 15:39] madoar commented on #819
Fell free to split it up when working on this :)

[2017-05-23 15:40] plata commented on #819
I only would like to avoid that people do not grab a task because the whole thing seems to be too huge.

[2017-05-23 15:45] madoar commented on #819
I'm not sure how other people are handling refactoring tasks, but when I refactor a class or a functionality, I normally try to fix all issues I know at once, because every normal (quick) fix normally breaks the "symmetry" of the existing code and looks like someone used some glue to paste a small piece to the code. If you do this too often it's bad.
In addition a lot of these things quite small c

[2017-05-23 15:49] madoar commented on #745
Are there any news on this?

[2017-05-23 15:53] plata commented on #745
Not really. I still believe it makes sense to have all apps in one folder and the functions in another but I don't want to take any decision here without @qparis.

[2017-05-23 15:54] plata commented on #808
I'm currently looking at [gettext commons](https://github.com/jgettext/gettext-commons) which looks promising. However, I could not quite get it running yet.

[2017-05-23 15:59] madoar commented on #808
What problems did you meet?
I would like a solution for this, that can be updates via the web.
This would enable us to update the language files more often that the software itself, which would make sense when we fix some typos or want to add new languages

[2017-05-23 16:03] plata commented on #808
With the explanations from the gettext commons wiki, it's quite easy to add the Maven dependencies. Running `mvn gettext:gettext` will then give you a `pot` file with the extracted keys. I don't currently understand how to generate `po` files per language (if that can be done with Maven as well or not etc.) and how the generated classes/properties should be accessed from Java.

[2017-05-23 16:04] plata commented on #808
Here are some other tutorials:
<http://blogs.igalia.com/dpino/2009/08/30/setting-up-gettext-commons-for-i18n-java-files/>
<http://blogs.igalia.com/dpino/2009/09/05/using-gettext-commons-from-java-files/>

[2017-05-23 16:21] plata commented on #808
Ok. Getting closer:
* use [msginit](https://www.gnu.org/software/gettext/manual/gettext.html#msginit-Invocation) to create a `po` (`msginit -i keys.pot -o de.po`)
* call `mvn gettext:merge`
* call `mvn gettext:dist` (this creates a `Messages_de.properties`)

[2017-05-23 16:52] Mannshoch commented on #313
Maybe firejail could be a solution for that.
https://firejail.wordpress.com/
https://github.com/netblue30/firejail

[2017-05-23 17:31] plata commented on #808
see #822

[2017-05-23 19:45] qparis commented on #745
I agree with you. Basically I think the type enum should be replaced by this forth level of category. However, it would require a huge rewrite of all scripts. Do we want to do it now?

[2017-05-24 15:24] plata commented on #745
If we want to do it, we should do it soon (not a good idea to do it after people have there local repositories...).

[2017-05-24 16:10] plata commented on #745
I'm not yet sure how the `Functions` tree should look like. E.g. the `Verbs` are currently in parallel to `Engines` but in fact they only work with Wine. Maybe it would make sense to put everything which belongs to Wine into the Wine directory.

[2017-05-24 16:53] #711 closed

[2017-05-24 16:53] #747 closed

[2017-05-24 17:03] plata commented on #747
Do you see now why I said that milestones are probably better suited than the project (looking at the amount of manual work you had updating this)?

[2017-05-24 17:05] madoar commented on #745
I think we should go with a change if it's useful and/or makes the code more readable and understandable

[2017-05-24 17:07] madoar commented on #747
Yes I do -_-

[2017-05-24 17:32] madoar commented on #819
We may have another problem with this longterm. If we want to implement engines in a plugable way in the script repositories, then we need to decide how to offer engine specific container functionality.
Currently this is hardcoded inside `WinePrefixContainerPanel`, can we change this somehow?

[2017-05-24 17:41] plata commented on #819
We have to move all of this to JS. Without thinking a lot about it, we could do something like:
* Have a generic function `getEngineTools` in the JS engine which returns a list of function names and tool button icons. If you click a button, we call the provided function from Java.
* "Display" and "Input" are moved to a generic "Settings" tab (so we have "Information", "Settings", "Tools").
* Setti

[2017-05-24 17:47] madoar commented on #819
If we do this, wouldn't it make the creation of a new engine type much more complicated and work intensive? Let's say we want to create a new engine how many methods and functionality would you need to implement until you have something you can test in POL 5?

[2017-05-24 17:50] plata commented on #819
We can have all of this optional. If you don't want to provide any tool, you do not have to implement anything. To do this, we derive all engine types from a base class `Engine` which e.g. returns an empty list for `getEngineTools`.

[2017-05-24 17:56] plata commented on #819
I will move this information to #620.

[2017-05-24 17:58] madoar commented on #819
Good idea

[2017-05-24 18:18] plata commented on #807
Created milestones alpha + beta which shall be used to track the progress of the required issues.

[2017-05-24 18:18] #807 closed

[2017-05-24 18:19] plata commented on #579
@madoar what do you think about this? In my opinion we should do it to strengthen the new Phoenicis brand.

[2017-05-24 18:21] madoar commented on #579
I think it's a good idea. The only problem we could face is that some people don't see the association between POL and Phoenicis. At least in the beginning this will be a problem.

[2017-05-24 18:23] plata commented on #579
Yes, therefore the website is very important. I think it would be way worse to leave the code in the playonlinux repository first and move it later on. That would be completely confusing.

[2017-05-24 18:24] madoar commented on #579
That's true

[2017-05-24 19:12] plata commented on #745
I thought about it again.

Our repository structure has a big issue currently: It's not flexible enough.
As an example, suppose you want to provide ONLY a custom set of apps for Wine. This is not possible without forking the JS files for Wine as well.

Therefore I propose the following: Keep the 3 level namespace but split the Scripts repository. One repository for apps, one for Wine (and everythi

[2017-05-24 19:17] madoar commented on #745
The idea is good, but I'm not sure how to handle this inside POL 5.
As far as I understand your suggested approach, we would then need to support 3 different repository types (namely scripts, engines and filesystem). How should the user manage, which of these kinds of repositories he wants/needs?

[2017-05-24 20:55] qparis commented on #557
Do we want to keep the same logo?

[2017-05-25 09:37] madoar commented on #819
I'm not sure if we should work on this issue currently or if we should do this together with or after #620.
The reason for this is, that if we do this first, we'll need to throw a lot of the changes done out of the window when we work on #620.

What should be done in my opinion at this point in time is #821.

[2017-05-25 09:38] madoar commented on #620
I think #702 should be included here too.

[2017-05-25 11:49] madoar commented on #770
@qparis What do you think about this?

[2017-05-25 11:53] qparis commented on #770
Agreed

[2017-05-25 11:57] madoar commented on #643
@qparis And this? :)

[2017-05-25 14:54] qparis commented on #643
Shouldn't it be a dependency?

[2017-05-25 16:06] madoar opened #830 "Expand the use of context dependency injection"
Currently we're using a lot of parameter passing. This makes writing and managing our classes quite cumbersome. Therefore I would suggest to use more context and dependency injection if possible.
As a first step I would suggest to change our controllers to be managed by spring.
This would enable us to use `@Autowired` instead of parameter passing to get our parameters inside the controllers.
What

[2017-05-25 16:09] qparis commented on #830
I don't like using @Autowired annotation for several reasons :
- When you use @Autowired, you are encourage a dependency in your class without thinking about the dependencies of your modules. Basicallly, you could autowire the universe everywhere
- Using constructors injection is a perfectly acceptable pattern from a Spring point of view

[2017-05-25 16:14] qparis commented on #830
If we have to much dependencies, it may indicate that the component has too much responsibility and we may need to create an extra class.
This information is very valuable for us and we cannot see it clearly when using @Autowired

[2017-05-25 16:18] madoar commented on #830
Normally I would fully agree with you, but take a look at the `MainController`. It has the task to more or less plug the different controllers together in ~50 lines of code, but also requires 8 parameters in its constructor. I would like to get rid of such classes.
If we can't use CDI here, then we should maybe think about our controller class hierarchy?

[2017-05-25 16:19] qparis commented on #830
For this particular case, I agree with you. But I would rather not to use auto injection in other places

[2017-05-25 16:22] madoar commented on #830
Currently I'm only thinking about changing our controllers to use CDI. Other classes should be more a case for responsibility splitting.

[2017-05-25 16:28] madoar opened #831 "Branch SonarQube"
@qparis I've just discovered a new branch `SonarQube` in this repository, is this branch needed?

[2017-05-25 16:28] qparis commented on #831
Nope

[2017-05-25 16:30] madoar commented on #620
@qparis what do you think about this?

[2017-05-25 16:31] qparis commented on #620
I think we should think about the way it is done, but I'd like to release a alpha version first

[2017-05-26 08:46] qparis opened #833 "[Feature] Create a shortcut inside a container"

[2017-05-26 08:46] qparis opened #834 "[Feature] Run a .exe file inside a container"

[2017-05-26 08:49] qparis opened #835 "[Feature] Check that wine is running in a compatible filesystem"

[2017-05-26 08:49] qparis opened #836 "[Feature] Check 32bits and 64bits direct rendering when running on linux"

[2017-05-26 08:52] #831 closed

[2017-05-26 10:05] madoar commented on #833
We need a bit more information here I think.
I believe you want to have a button for a selected container inside the `Containers` tab, where the user is able to create a new shortcut that is shown in the `Library` tab? Or are you talking about system shortcuts?

[2017-05-26 10:06] qparis commented on #833
That's correct

[2017-05-26 10:06] madoar commented on #834
How should the interaction between the user and POL 5 be, if he/she wants to run an `.exe` file?

[2017-05-26 10:07] madoar commented on #835
What do you mean with `compatible filesystem`? When should this be checked? During the installation? When starting an application inside a container?

[2017-05-26 10:08] madoar commented on #836
When should this be checked?

[2017-05-26 10:09] madoar commented on #833
I think this should be done together with #780.

[2017-05-26 10:54] qparis commented on #836
When Phoenicis is started I guess, it would be sufficient enough

[2017-05-26 10:56] madoar commented on #836
Hmm I previously thought that we're talking about a wine setting for the containers, but I guess I'm wrong?
What do you mean with 32bit and 64bit direct rendering?

[2017-05-26 10:57] qparis commented on #836
Basically checking that glxinfo|grep rendering returns yes, when it is compiled in 32b and 64b modes.

We do have the corresponding source in POLv4 repository

[2017-05-26 10:58] madoar commented on #836
And how do we use this information afterwards?

[2017-05-26 13:52] qparis commented on #836
We just tell the user that wine might not work properly

[2017-05-26 14:39] qparis commented on #835
Any filesystem supported by wine

"2.1.1 Does Wine run on all Unix filesystems?

Mostly. Wine is written to be filesystem independent so MS Windows applications should work on virtually any full-featured UNIX filesystem. The key exception is that not all filesystems / drivers support every feature of fat32 or NTFS. One example is that the ntfsv3 drivers do not support shared-write mmap, a feature

[2017-05-26 14:40] qparis commented on #834
Exactly as it is in POLv4 I guess (a browse button in the container panel)

[2017-05-27 17:24] #821 closed

[2017-05-28 11:31] pyroxar opened #838 "[Unity theme] The text on the orange background should be white color."
The text on the orange background should be white color.
![zrzut ekranu z 2017-05-28 13-16-28](https://cloud.githubusercontent.com/assets/23406555/26528268/23c151e0-43a8-11e7-88ad-1320aeeb86a7.png)
This is image with the white text edited by me in gimp (:P)
![zrzut ekranu z 2017-05-28 13-16-28editybygimp](https://cloud.githubusercontent.com/assets/23406555/26528326/b4df0428-43a9-11e7-8a52-38793ea8

[2017-05-28 14:06] madoar commented on #838
The unity theme is defined inside `https://github.com/PlayOnLinux/POL-POM-5/tree/master/phoenicis-javafx/src/main/resources/org/phoenicis/javafx/themes/unity`. If you want you can add your improvements to the theme directly inside, and submit a pull request afterwards.
This would help us a lot. :)

To test it you simply need to run `mvn test` or `mvn clean package` to trigger the preprocessing of

[2017-05-29 09:29] plata commented on #620
I agree with @qparis. This is something internal which should not be noticed by the users (unless you provide your own engines of course, but that shouldn't affect alpha).

[2017-05-29 09:33] plata commented on #643
@qparis as I said above: I don't know how it was handled before. As ncurses seems to be part of every Wine installation, it would make sense to adjust the PATH. If we want to use the system ncurses, we do not have to deliver it as part of Wine.

[2017-05-29 09:42] plata commented on #557
@qparis I would like a new one. Correct me if I'm wrong but the current logo seems to refer to the Windows XP flag. This is somewhat outdated nowadays. Moreover, Phoenicis is much more than a GUI for Windows apps in a non-Windows environment (as we can plug any engine). Therefore I believe that we should find a logo which is more appropriate.

As I stated above, the website should contain a descri

[2017-05-29 09:43] plata commented on #745
There wouldn't be any difference to now. Except that your repository list has more entries.

[2017-05-29 09:46] madoar commented on #620
The problem currently is, that we have quite a few issues which target the container tab and the engines (#833 #834 #702 #625). If we do these issues, or at least the issues marked for the alpha release, first and then this issue (#620), we'll need to do a lot of things two times, the first time when we work on the previous issues and then again when we move the features to javascript as part of t

[2017-05-29 09:48] madoar commented on #745
Which means we wouldn't need to add more repository classes? How should POL 5 detect which type of repository it currently looks at?

[2017-05-29 09:57] plata commented on #745
The same way as it does not. If you think about it, there is no difference for the software at all. It justs iterates over a bunch of directories. It doesn't matter where those are located.

[2017-05-29 10:00] madoar commented on #745
Ah ok, then I think we can go with this approach.

[2017-05-29 10:04] plata commented on #620
You are right (didn't see that #833 and #834 are assigned to alpha).

[2017-05-29 10:19] madoar commented on #620
I think it would be a good idea to start the whole topic by moving wine engine specific functions from java (the POL 5 repository) to javascript (the Scripts repository).
When doing this we can also add functions for #833 and #834 at the same time in javascript.
In the next step we can then replace our current container details view gui by a new one that is more generic.
What do you think?

[2017-05-29 10:28] Veske commented on #557
What does Phoenicis mean?

[2017-05-29 10:31] plata commented on #620
Yes, that's probably the best approach. For #833 and #834 it should be enough to have
* createShortcut
* runInsideContainer (which can be renamed from `runInsidePrefix`)

[2017-05-29 11:04] #770 closed

[2017-05-29 11:05] madoar commented on #620
Do you want to give this a go?
I think you know better what needs to be done to do this in a good way than me.

[2017-05-29 11:07] madoar commented on #744
Where do we want to have the extraction code to be located?
I guess that we want to call it from inside the `Scripts` repository right? If this is correct I think we'll need to add a new function to the Scripts repository and maybe some additional code in Java to make the access to `CabParser` easier and more comfortable.
How should the interface to access the cab files look like?

[2017-05-29 11:18] plata commented on #744
We have an interface already: <https://github.com/PlayOnLinux/Scripts/blob/master/Functions/Filesystem/Extract/script.js>.

[2017-05-29 11:25] madoar commented on #744
I guess all arguments in `CabExtract` (wizard, archive, message, to) are `String`s?
Should I add an additional java class with an `extract` method to make the cab extraction more typesafe?

[2017-05-29 11:28] plata commented on #744
The `wizard` is a `SetupWizard`, `archive` is a `Resource` (check in scripts which use this).

[2017-05-29 11:41] plata commented on #835
I think this should be moved to Scripts as it is an engine specific issue.

[2017-05-29 11:43] plata commented on #745
@qparis you're the only one who could do this.

[2017-05-29 11:46] plata commented on #834
This should be renamed to: run executable file inside a container.

[2017-05-29 13:27] plata opened #842 "ObjectMapper does not work in all cases"
When you show certain apps (e.g. Age of Empires II HD) in the `LibraryPanel`, you get
[code]

This is a regression because the previous solution worked.

[2017-05-29 14:07] plata commented on #620
Just had a look at it. We can implement #833 and #834 with the current setup and do the generic engines later.

[2017-05-29 15:48] madoar commented on #842
How is the json code created?
There is a mismatch between the definition and the Java result type.
The reason is the steam `appId`, which is interpreted as a number in javascript, but java requires a `String`.

[2017-05-29 16:07] qparis commented on #842
The reason why this code fails is that because we are not using DTOs

We should always map json contents to DTO to avoid such problems.

Additionally, Jackson can let us specify the type of a json object in a specific field so that objectMapper knows what DTO should be used

[2017-05-29 18:27] madoar commented on #744
Is there a test cab file, which we can use to write a test for the cab extractor functionality?

[2017-05-29 22:15] madoar opened #846 "Error when opening POL 5"
When opening POL 5 I currently get the following stacktrace:
[code]
I think the reason for this may be my currently empty library.

[2017-05-30 09:21] #722 closed

[2017-05-30 09:25] madoar opened #848 "Duplicate miniatures when using multiple repositories"
When you have two, or more, repositories with the same script miniature, it is shown twice:
![grafik](https://cloud.githubusercontent.com/assets/18488086/26576813/8b1c4f1a-452a-11e7-8e33-ee3a4c5350c6.png)
We should add a function, which checks for duplicates to prevent POL 5 from showing duplicate miniatures.

[2017-05-30 09:27] madoar opened #849 "Add custom themes via dialog"
Currently it's only possible to select a theme from a given set of themes that are contained inside the classpath of POL 5. It would be nice if we could add a way for the user to add a local installed theme inside the "Settings" tab.

[2017-05-30 09:30] madoar opened #850 "Add a way to change the default list widget to the settings tab"
Currently the default list widget at startup is the `IconsListWidget`. It would be nice if the user can change this inside the "Settings" tab.

[2017-05-30 17:54] #598 closed

[2017-05-30 17:58] plata commented on #744
Why not use one of the files which are already extracted with the current `CabExtract` in Scripts (e.g. the corefonts Verb)?

[2017-05-30 18:10] plata commented on #848
Strange. This should have been handled in #398 already.

[2017-05-30 18:17] plata commented on #849
Can we do this by adding a "user theme" to `ThemeManager`? I see a problem with the `description.css`.

[2017-05-30 18:17] madoar commented on #848
My guess is that the reason for this is our change to `URI` objects.
We need a method that compares the files behind the `URI`s.

[2017-05-30 18:18] plata commented on #846
But why in `ClasspathRepository`?

[2017-05-30 18:20] madoar commented on #846
I don't know, can you reproduce the error?

[2017-05-30 18:21] plata commented on #848
Ah yes. It used to compare the `byte[]`. Can we compare checksums of the files or do we have to read the picture into a `byte[]` just for the comparison?

[2017-05-30 18:21] #833 closed

[2017-05-30 18:23] plata commented on #846
No. I renamed my shortcuts folder but did not get this.

[2017-05-30 18:24] plata opened #851 "ThemeManager refreshes twice on startup"

[2017-05-30 18:30] madoar commented on #850
Hmm, I think this is a fundamental design decision.
I'm someone who likes it, when an application "resets" after the application has been restarted.
Other people, like you describe, may like it more if the application "remembers" how it looked like before it has been restarted.
Not sure which way is best.

[2017-05-30 18:30] madoar commented on #848
I think a checksum would be enough, do we have a library that can give us one easily.

[2017-05-30 18:33] plata commented on #850
If a user changes the list type, she probably wants to keep it. Therefore it would be annoying (for me) if she would have to go to settings first to store this.

[2017-05-30 18:33] #834 closed

[2017-05-30 18:36] plata commented on #848
Maybe [this](https://stackoverflow.com/questions/304268/getting-a-files-md5-checksum-in-java)?

[2017-05-30 18:37] plata opened #852 "improve style of shortcut buttons"
see #801

[2017-05-30 18:42] madoar commented on #848
[This](https://commons.apache.org/proper/commons-codec/apidocs/org/apache/commons/codec/digest/DigestUtils.html) would be easier to use I think.

[2017-05-30 18:45] madoar commented on #849
I think he should specify a directory. The `ClasspathTheme` works like this currently, it takes the path to the directory in the classpath.
If we want to allow the theme developers to don't specify a `description.css` file, we need to add a fallback to the default theme for the `description.css` file.

[2017-05-30 18:48] #731 closed

[2017-05-30 18:49] plata commented on #848
Can you try it?

[2017-05-30 18:50] plata commented on #849
Ok. Would be nice to have that fallback.

[2017-05-30 18:56] madoar commented on #848
Yes, I'll do this together with a refactoring of `MergeableRepository`.
What I don't really understand is the condition for when two scripts should be merged?
Is it only when the name of the scripts are equal?
Currently we have no case for when an application in the "Apps" tab contains more than one script and I don't know how to achieve this...

[2017-05-30 19:00] plata commented on #848
You can just copy the folder with the script and rename it such that you get e.g. `Steam` and `Online`. I think it's sufficient to merge by name such that two `Online` scripts are merged (of course, `Steam` and `Online` should not be merged).

[2017-05-30 19:00] #838 closed

[2017-05-30 19:03] madoar commented on #848
Are you sure the script name is taken from the folder name? The reason for the question is that the `script.json` file contains a `scriptName` attribute.

[2017-05-30 19:04] plata commented on #851
I don't know which effect this might have on the startup time otherwise I wouldn't care.

[2017-05-30 19:05] plata commented on #848
I'm not sure where it's coming from. Actually the name in the json is the same as the folder name currently as far as I'm aware.

[2017-05-30 19:10] plata commented on #258
@Mannshoch could you check if the functionality we provide currently is sufficient for your use cases?

[2017-05-30 19:16] plata commented on #842
@qparis so you want a DTO for the `script` inside the `ShortcutDTO`? I don't think that's possible because it depends on the engine (e.g. "wineDebug"). If we create a `DTO` for it, we cannot have user defined engines anymore. The previous solution just printed the values for every key in the json and did not try to map anything therefore it did not have a problem.

[2017-05-30 19:23] qparis commented on #842
Same for the the current approach except that we should deserialize in a Map<String, Object>

[2017-05-30 19:43] madoar opened #853 "Prevent deselection of selected list widget"
Currently it's possible to show the currently selected list widget as "deselected" by clicking on it when it's selected. We should prevent this.
![grafik](https://cloud.githubusercontent.com/assets/18488086/26601657/f957f384-4580-11e7-8f7a-1ab9a793eff0.png)
I would suggest to use the same approach we used to prevent the user from deselecting the currently selected engine/application category.

[2017-05-31 18:08] plata commented on #852
![image](https://cloud.githubusercontent.com/assets/3973260/26646707/e8449978-463c-11e7-85c2-82ee22560ccc.png)

[2017-06-01 08:54] madoar opened #856 "ScriptDTO#requiresNoCD seems to be inverted"
During #847 I discovered, that the value inside `ScriptDTO#requiresNoCD` seems to be inverted.
This means, that when you want to say that a script doesn't require a CD the value needs to be false.
This can be illustrated by my code inside the `ApplicationFilter` class, where "show't" should be "don't":
[code]

[2017-06-01 13:14] Mannshoch commented on #258
Sorry could not compile pol5 get some strange feedback from mvn

[code]

[2017-06-01 13:23] madoar commented on #258
@Mannshoch, it seems like you couldn't reach `repo.maven.apache.org`, because the connection was refused.
Could you please try again?

[2017-06-01 13:28] Mannshoch commented on #258
could be a problem with the socks proxy I have to use. I entered already the proxy information on settings.xml

[code]

[2017-06-01 15:37] madoar commented on #744
Ok, I've just done some experimentation with `CabExtract` on the `arial32.exe` file for the corefonts Verb.
It seems `CabExtract` alone won't be enough.
When I try to open `arial32.exe` with `CabExtract` I get the following stacktrace:
[code]

After a look at the man page of `cabextract` I discovered the following sentence:
[code]

Reading this I think the problem is, that the file is an `exe` fil

[2017-06-01 17:24] madoar opened #857 "Select branch for GitRepository"
Currently when adding a `GitRepository` to POL 5, the master branch is cloned.
It would be useful to have the ability to select a branch of a git repository in which the POL 5 application repository is located.
I guess this should be implemented together with #776.

[2017-06-01 21:35] qparis commented on #744
I may be mistaken, but I think it is because their CabHeader class is reading from the begining of the file. In a .exe, the cab is not necessarely at the begining in the file.

[2017-06-02 15:51] plata commented on #856
I'm not even sure that the meaning of "requires no CD" is understandable. I would prefer "requires disk".

[2017-06-02 15:53] #848 closed

[2017-06-02 16:05] plata opened #858 ""Testing" filter does not work as expected"
An app with the following json is not shown
[code]
However, it is shown if the json looks like this:
[code]

[2017-06-02 16:25] qparis commented on #856
It has not the same meaning

[2017-06-02 16:40] plata commented on #856
So what's the true meaning then?

[2017-06-02 20:20] qparis commented on #858
This is a normal behavior

[2017-06-02 21:18] plata commented on #858
Why?

[2017-06-02 21:48] qparis commented on #858
Compatible means that the program will appear in the list
Testing means that the user will be warned that that the scripts might not be working correctly.
The two fields are totally disconnected so we can imagine putting a third option later

[2017-06-02 21:50] plata commented on #858
I still don't understand it. How should the json look like for an app which is "testing" on "LINUX"?

[2017-06-02 21:51] madoar commented on #858
I just remembered, that `compatibleOperatingSystems` is covered and used by `FilterRepository`.
If we want to add a checkbox that disables the check for a compatible os, we would need to move the responsibility from `FilterRepository` to the `ApplicationFilter`.

[2017-06-02 21:52] #785 closed

[2017-06-02 21:53] plata commented on #858
Ok. So "testingOperatingSystems" has to be a subset of "compatibleOperatingSystems". If this is the case, we should update <https://github.com/PlayOnLinux/Scripts/wiki/script.json>.

[2017-06-02 21:53] madoar opened #859 "Decide if the fallback in getMainMiniature is needed"
See #854 for more details.

[2017-06-02 21:56] plata commented on #856
Just checked again in <https://github.com/PlayOnLinux/Scripts/wiki/script.json>. So the meaning is "requires no CD patch/crack". That's absolutely not obvious in the software.

[2017-06-02 22:07] madoar commented on #744
This is possible, still I'm quite unsure how to continue with this, because it doesn't seem feasible to me to change the code of `CabExtract`. My guess is that we need a library to extract `exe` files, but I'm note sure such a library exists for java.
Do you have an idea?

[2017-06-03 09:13] qparis commented on #744
It is definately possible

[2017-06-03 09:13] qparis commented on #856
Yeah, we should call it _require software modification_ maybe

[2017-06-03 10:12] plata opened #860 "rename requiresNoCD"
software + scripts
e.g. field in `ScriptDTO` and the `BooleanProperty` in `ApplicationFilter`

see #856

[2017-06-03 10:13] plata commented on #856
@madoar is this issue still valid after this clarification?

[2017-06-03 11:02] plata commented on #858
@qparis can you confirm that this is correct (i.e. we should specify the OS in both "compatibleOperatingSystems" and "testingOperatingSystems")?

[2017-06-03 11:03] plata commented on #846
@madoar any steps to reproduce this (I cannot currently)?

[2017-06-03 11:07] plata commented on #853
I cannot reproduce this.

[2017-06-03 11:10] qparis commented on #858
Yes,
* If the current operating system is not in CompatibleOperatingSystem, the app should not be seen.
* TestingOperatingSystem is a subset of CompatibleOperatingSystem

compatible.contains("LINUX") && testing.contains("LINUX") => App compatible with Linux, but may not work properly
compatible.contains("LINUX") && !testing.contains("LINUX")  => app fully compatible !compatible.contains("LINUX")

[2017-06-03 11:12] plata commented on #818
1. still valid?
2. should be fixed by #823
3. to do
4. fixed by #855

Correct?

@madoar do you see why I didn't like everything in one issue? Now we have this partly fixed and it's difficult to track when it can be closed/what still has to be done.

[2017-06-03 13:15] #852 closed

[2017-06-03 15:52] joskfg commented on #557
What do you think about to open a slack to have direct communication and allow people to help each other? I followed some discussions in Issues and I think it is pretty easier to do it in a chat. After that it can represent a Pull Requests to the scripts repository with the updates.

Another thing is it could be pretty good to know in which SO/Hardware the script has been tested to know if it work

[2017-06-03 15:55] qparis commented on #557
Yeah good idea. I will do it

[2017-06-03 16:26] #842 closed

[2017-06-03 16:30] plata opened #865 "title missing in details panel"
see #862

[2017-06-03 16:30] qparis commented on #865
@madoar Any idea?

[2017-06-03 17:16] joskfg opened #866 "Error trying to install League of Legends BETA Client"
After remove the game from POL5, I tried to install again and I found this error when I hit the first next button after the install.
[code]

It doesn't seem an error in the game script.js.

It happens using the installation from a custom file and from apps tabs.

[2017-06-03 18:10] plata commented on #866
That's an error in the scripts. I guess I introduced it in PlayOnLinux/Scripts#244.

[2017-06-03 18:16] #866 closed

[2017-06-03 21:29] madoar commented on #856
If we move the renaming work, and maybe the modification of the filter to #860, then I guess we can close this.

[2017-06-03 21:36] madoar commented on #846
I simply start POL 5 via IntelliJ, then this stacktrace is shown.
If no one else can reproduce this, it looks like the reason is somewhere in my POL 5 settings/configuration files?

[2017-06-03 21:49] madoar commented on #865
Yes, line 63 in `LibraryPanel` contains `this.getChildren().clear();`.
This not only clears your content, but also your header row, including the title and the close button.
I think it's enough to make it work again by simply removing this line.

[2017-06-03 21:54] madoar commented on #857
I've thought about this a bit.
I believe we will face two main challenges when we try to do this:

- we will need an interface that allows us to add the branch **in addition** to the repository url. I guess this could be solved best by #776.
- we will need to save the branch information next to the repository url. I'm not sure how to approach this. I don't know of a way to include the branch in th

[2017-06-04 08:49] plata commented on #857
We could add another separator e.g. something like "git+https://github.com/PlayOnLinux/Scripts#master".

[2017-06-04 08:54] plata commented on #857
Or like GitHub (`tree` as separator) "git+https://github.com/PlayOnLinux/Scripts/tree/master".

[2017-06-04 09:06] madoar commented on #857
I'm not sure if `tree` is a good separator, because this could be a valid part of the path to a git repository.
Can `#` be used inside a typical url to a git repository?

[2017-06-04 09:18] plata commented on #857
Just created two branches: `a#b` and `a/tree` so it's probably not a good idea...

[2017-06-04 09:20] madoar commented on #857
Is it maybe possible to persist the repositories in json or xml, instead of like we currently do?

[2017-06-04 09:22] plata commented on #857
Maybe but that would be a big effort I think.

[2017-06-04 09:23] plata commented on #857
Check this out: <https://stackoverflow.com/questions/3651860/which-characters-are-illegal-within-a-branch-name>.

According to this, we could use "git+https://github.com/PlayOnLinux/Scripts:master".

[2017-06-04 09:25] madoar commented on #857
`:` is bad too in my eyes, because you can use it to specify a port in your url.
I'm not sure about the other characters.

[2017-06-04 09:27] plata commented on #857
I don't see the problem. If we split on the last `:`, everything should be fine. "git+https://github.com/PlayOnLinux/Scripts:master:8080" will not work anyways.

[2017-06-04 09:28] plata commented on #856
Which modifications should be done for the filter?

[2017-06-04 09:33] madoar commented on #857
No, but `http://github.com:8080/PlayOnLinux/Scripts would be valid`, if your could reach a server under this url, right?

[2017-06-04 09:35] plata commented on #857
It's maybe a valid URL but not a valid entry for our property anymore (would have to be "git+http://github.com:8080/PlayOnLinux/Scripts:master").

[2017-06-04 09:36] madoar commented on #856
Oh, you're right the name of the `BooleanProperty` containNoCDApplications confused me, I think we don't need to change the filter.
But we should rename both the field in `ScriptDTO` and the `BooleanProperty` in `ApplicationFilter`

[2017-06-04 09:36] plata commented on #846
Do you have spaces in a path maybe?

[2017-06-04 09:37] plata commented on #856
Ok.

[2017-06-04 09:37] #856 closed

[2017-06-04 09:38] madoar commented on #857
I think it's real possibility, that such a git url will used.
It would be quite useful if we find a character that is not found in an encoded git repository url

[2017-06-04 09:39] plata commented on #860
Would be good to close as many PRs in Scripts as possible before doing this.

[2017-06-04 09:39] madoar commented on #846
Yes `.../Play on Linux/...`

[2017-06-04 09:40] plata commented on #857
I still don't see the problem. Why do you think that the meaning of "git+http://github.com:8080/PlayOnLinux/Scripts:master" might not be clear?

[2017-06-04 09:42] plata commented on #846
Can you try if it works if there are no spaces?

[2017-06-04 09:45] madoar commented on #857
Oh, I think we're talking about two kind of problems. Currently I'm thinking about how to parse this parse this kind of URL easily. I would like to use a regex expression that parses the whole entered string, and splits it in all necessary components. I think this would be easier if the split character for the branch would be used at most once in the url

[2017-06-04 09:48] plata commented on #857
I would simply:

1. split on `;` to get parts of the list
2. check if it's git
3. split on last `:` to get branch

You cannot use one regex anyways because e.g. the classpath looks different already.

[2017-06-04 09:49] plata commented on #860
How do we want to name it? `requiresPatch`?

[2017-06-04 10:10] madoar commented on #857
I'm not sure this is all in all a good approach.
Let's think a bit more about the topic of supporting git repositories.
Another nice to have feature would be authentication, via password or ssh key.
To support this we would need to add another value to the repository url for persistence. I'm not sure this is feasible...

[2017-06-04 10:12] plata commented on #857
In this case, we should really use json.

[2017-06-04 11:18] plata commented on #745
another question: why do we have to use a fixed level include and don't use `load()`?

[2017-06-04 14:02] joskfg commented on #866
Thanks, now it is working.

[2017-06-05 13:32] #860 closed

[2017-06-05 13:34] #865 closed

[2017-06-05 14:56] plata opened #875 "merge TranslationDTOs"
`TranslationDTO's` from multiple repositories must be merged. Per language: concatenate json content.

[2017-06-05 21:33] qparis commented on #557
Just a small comment to inform you that I'm working on this task.
I have two goals:
- Make the website compatible compatible with POL-POM-5 API, so that we can directly read existing directories
- Make the website compatible to legacy POL 4 website (news, forums, ...). Thanks to this work, we will be able to keep all the content we already have.
- Everything should be accessible via REST APIs

Few

[2017-06-06 11:34] #674 closed

[2017-06-06 14:53] plata commented on #557
Like it so far. Did you think about the logo already? Will this work well on mobile?

[2017-06-06 19:56] madoar opened #878 "NullPointerException at startup"
On the current master branch I get the following stacktrace when starting POL 5:
[code]

[2017-06-06 19:57] madoar commented on #878
This results in an empty list in the "Apps" tab.

[2017-06-06 21:13] qparis opened #879 "Rationalize and decentralize translations"
Currently, we have two translations systems running concurrently.
As a consequence, it makes things really hard to understand for an external developer and it prevents repositories to propose translations for the main programs (i.e. category names)
I suggest to:
- have a unique tr() method that translates a string into many languages.
- use repositories to provide translations. Main program transl

[2017-06-06 21:19] madoar commented on #879
So you're basically suggesting to use a javascript i18n solution for everything?

[2017-06-06 21:20] qparis commented on #879
On the contrary, I'm suggesting to use a java solution for everything and call it from JS files

[2017-06-06 21:20] madoar commented on #557
The website looks quite nice :) :+1:

[2017-06-06 21:21] madoar commented on #879
Hmm, wouldn't this lead to us writing a new library for i18n?

[2017-06-06 21:22] madoar commented on #879
I kind of like the idea to use a solution written in javascript that uses a json file as the translation sources.
If we can wrap this javascript solution inside a java interface, then we could use it from java too...

[2017-06-06 21:23] qparis commented on #879
It would mean that you would have to instanciate a javascript engine for each string read. In term of performance, I'm pretty sure that it is very bad

[2017-06-06 21:25] madoar commented on #879
Not sure I agree with this.
Doesn't the java scripting api have a method to convert a javascript object to a java interface, which makes the access to the object easier?
I don't know how this is implemented, but I don't think that it has been done too performance hungry.

[2017-06-06 21:26] qparis commented on #879
There are a lot of strings everywhere in POL so it will surely have an impact on memory footprint at least. I was thinking about something like this: (Java = blue, Javascript = Green)
![sans titre](https://user-images.githubusercontent.com/373645/26852753-9dd1449a-4b0f-11e7-9e03-90edc50f6945.png)

[2017-06-06 21:27] qparis commented on #879
The advantage of using .po and .pot files, is that the translations are compatible with platforms like Rosetta

[2017-06-06 21:29] madoar commented on #879
I guess the problem here is, that for our current solution the translation files are used to generate class files in the compile phase (if I understood @plata correctly). This would make our current solution unusable.
We would need a solution that can search for translation files at runtime, because of our script repositories, which can be plugged in at runtime.
I'm not sure such a solution exists

[2017-06-06 21:31] qparis commented on #879
We certainly can:

<img width="605" alt="capture d ecran 2017-06-06 a 23 30 48" src="https://user-images.githubusercontent.com/373645/26852908-3155d316-4b10-11e7-8bc4-65b3123c1442.png">
gives
<img width="882" alt="capture d ecran 2017-06-06 a 23 31 04" src="https://user-images.githubusercontent.com/373645/26852919-3ba5e586-4b10-11e7-8230-c86b42f03c6d.png">

[2017-06-06 21:31] madoar commented on #879
Another problem are the .po and .pot files themselves in my eyes. For java projects there are tools to generate them from source code.
For scripts this is impossible, because they are written in javascript.
From their format, it seems to be a pain to create them....

[2017-06-06 21:32] qparis commented on #879
@madoar Tools can generate .pot files from basically any languages. I'm using them with Python and PHP for POLv4, I'm pretty confident that the same exist in JS

[2017-06-06 21:38] madoar commented on #879
Ok, didn't know that .pot files were standard. I haven't used i18n before in my projects.
But still I feel that this is not a good solution, especially when json objects look kind of more compact and better readable....
But I agree, we should find a solution that needs to be able to be able to load new translations at runtime and work for both java and javascript

[2017-06-06 21:40] qparis commented on #879
Hardly any translation platform will use .pot file in fact. They are compilable, it is truely a standard.
But if you look at my previous screenshot, you'ok see that we can imagine a component that will accept two different kind of files

[2017-06-06 21:43] madoar commented on #879
Yes but this would mean, that we need to write a new solution to find the translations for a given key. This seems to me like the longest, most complex and the core part of an i18n library.

[2017-06-06 21:49] qparis commented on #879
I'm pretty sure that there is a way to parse a .po or .mo file in a HashMap

[2017-06-07 16:07] plata commented on #878
I think your repository is not up to date.

[2017-06-07 16:15] plata commented on #879
@qparis you should keep in mind that proper l10n requires more than just a lookup in a HashMap. There's plural forms, numbering and what not.
I agree that it would be pretty cool if we could read .po's at runtime and pass them as input to gettext-commons.

[2017-06-07 16:18] qparis commented on #879
In POLv4, we have never used plurals and other stuff

[2017-06-07 16:22] plata commented on #879
Maybe. But that doesn't mean that we will never need it.

[2017-06-07 16:28] madoar commented on #878
I've experimented a bit, it seems like this error disappears when I remove the Oldware repository.

[2017-06-07 16:31] qparis commented on #879
In any case, the point I'm describing is really crucial, so we have to find a solution

[2017-06-07 16:35] plata commented on #879
I think we can do the same as gettext-commons: call `msgfmt` at runtime and read the generated file (see [here](http://xnap-commons.sourceforge.net/gettext-commons/tutorial.html))

[2017-06-07 16:35] plata commented on #878
I also had this error. I can't remember which PR it was but there was an update which is required. Probably the same changes have to be done for the Oldware repository.

[2017-06-07 16:36] plata commented on #878
I think it was the renaming of `requiresNoCd` to `requiresPatch`.

[2017-06-07 16:39] plata commented on #879
However, this doesn't help for `json`: We need a `tr()` around the String so the `.pot` is generated. I don't think it's possible to call a function in `json`, is it?

[2017-06-07 16:46] madoar commented on #846
I've just tested POL 5 on the master branch with a path containing no spaces and I get the same error.
Now after a few commits in between, compared to the version from which I got the last stacktrace, the stacktrace now looks like this:
[code]

[2017-06-07 16:52] plata commented on #846
Can you debug to see what's going on?

[2017-06-07 16:55] qparis commented on #879
I think it is acceptable to have very few items not generated in the pot file

[2017-06-07 16:55] madoar commented on #846
I've just added a debug output to line 80 in `ClasspathRepository` it seems like `jsonCategoryFile` contains two different values for me:

- `/org/phoenicis/repository/Functions/category.json`
- `/org/phoenicis/repository/DefaultRepositoryManager.class/category.json`

I'm not sure where and how the second value is created, but it's wrong and should lead to the given exception

[2017-06-07 17:04] plata commented on #879
So we use the solution in #876, PlayOnLinux/Scripts#257 and PlayOnLinux/Scripts#256 for the json files? Or do you want to add those strings to the pot manually (if that's even possible)?

[2017-06-07 17:18] plata commented on #846
How does your repository list look like? (in the properties)

[2017-06-07 17:43] plata commented on #879
The only think I found is not to use `json` but JS files with objects [1](https://stackoverflow.com/questions/39586651/json-and-translation) or `intltool` to extract all strings [2](https://stackoverflow.com/questions/24990707/how-do-i-get-strings-from-a-json-file). For 2 I don't understand how this should work because double quotes are required for `json`.
We could write a small preprocessor scri

[2017-06-07 18:18] madoar commented on #846
`application.repository.configuration=file\:/home/marc/Dokumente/Play on Linux/Scripts;git+https\://github.com/PlayOnLinux/Scripts;git+https\://github.com/PlayOnLinux/Oldwares;classpath\:///org/phoenicis/repository;`

[2017-06-07 19:10] qparis commented on #879
I don't understand your last comment

[2017-06-08 16:26] plata commented on #846
Does it work if you remove the `classpath` one?

[2017-06-08 16:29] plata commented on #879
How do we translate the json? In my opinion we have 2 possibilities:

1. Create a json per language (e.g. application_de.json)
2. Put the Strings from the json into the .pot. If we want to do this, we need a script which extracts the Strings from the json because xgettext cannot do that directly.

[2017-06-08 17:03] madoar commented on #846
Yes, when I remove the classpath repository I can start POL 5 without the stacktrace

[2017-06-08 17:11] plata commented on #846
Ok. With classpath, I have the same error. Why doesn't the unittest find this?

[2017-06-08 17:12] madoar commented on #846
I don't know.

We have another problem too:
If you remove the main scripts repository, POL 5 will start with a lot of errors.

[2017-06-08 17:35] plata commented on #846
One problem is related to generic engines: We have to parse the repository for the available engines before including them.

[2017-06-08 19:06] qparis commented on #879
Json is a subset of JavaScript so I don't see why gettext would no read it... is it because you would need to include tr inside the json?

Anyway, why do you want these files to be scanned automatically? It is acceptable if every strings except the json on are detected in a first time

[2017-06-08 19:09] qparis commented on #879
Also tr could be a little smarter:
* If the argument is a string, translate it,
* if it is an object or a dictionary, returns argument[language]

[2017-06-08 20:47] #846 closed

[2017-06-09 17:39] plata commented on #879
Yes, because we would need tr in the json. I think we should have a concept which covers all relevant cases before implementing something.

[2017-06-09 18:59] plata commented on #879
Just had a look at it. Does anyone know how we can merge all the properties files into one ResourceBundle?

[2017-06-09 20:14] plata commented on #879
see #881

[2017-06-11 09:33] #875 closed

[2017-06-11 09:44] madoar commented on #853
You need to click on the selection button in the left bottom corner a second time, after it has been selected.
After doing this it should look "unselected", like on my screenshot.

[2017-06-11 10:19] madoar opened #883 "Update Wiki with new repositories.json file"
After we've moved the repository list to a new `repositories.json` file we need to document this in the wiki.
I suggest that we do this after the new git repository field `branch` has been added.

[2017-06-14 14:04] madoar commented on #883
What type or repository do you want to add?

[2017-06-14 14:05] plata commented on #883
local

[2017-06-14 14:08] madoar commented on #883
My `repositories.json` file looks like this:

[code]

[2017-06-14 14:09] plata commented on #883
Can you just replace the current wiki page with this information? Should be enough to configure it already.

[2017-06-14 14:10] madoar commented on #883
I'll do this soon (today or tomorrow).

[2017-06-14 14:10] plata commented on #883
Thanks.

[2017-06-15 11:06] madoar commented on #883
I've just updated the wiki article https://github.com/PlayOnLinux/POL-POM-5/wiki/Repository.
Can you please take a look at it?
If it fulfills the requirements we can close this issue.

[2017-06-15 12:46] plata commented on #883
or "of"?

[2017-06-15 12:50] plata commented on #883
* use Phoenicis instead of POL5
* address the reader: "please add" instead of "the user needs to add"
* "An examples for a local repository" => "An example for a local repository"
* "as the URI to the the repository" is a bit strange because you refer to the json content

[2017-06-15 13:06] madoar commented on #883
Ok, I've added your suggestions to the Wiki.
Is it ok now?

[2017-06-15 13:09] plata commented on #883
If you fix "An examples for a local repository" => "An example for a local repository", then yes.

[2017-06-15 13:11] madoar commented on #883
Fixed

[2017-06-15 13:11] #883 closed

[2017-06-15 13:17] #776 closed

[2017-06-15 13:17] plata opened #887 "improve style of "add repository" dialogs"
see #886

[2017-06-15 13:18] plata opened #888 "sort engines in "Containers" tab"
Sort the engines in the combobox which allows you to change the engine of a container.

[2017-06-15 13:20] madoar commented on #888
I'm not sure we should hold on to the combobox.
Currently the combobox has no implemented behavior.
In addition we've discovered before that's the combobox is quite unhandy because it contains such a large list of possible engine replacements, therefore I would suggest to add a wizard to change the engine.

[2017-06-15 13:23] plata commented on #888
Also fine for me. Maybe we should just remove the combobox then not to confuse people.

[2017-06-15 13:56] plata opened #889 "wine cannot load libudev.so.0"
At least on Ubuntu 16.04 only libudev1 is available. Can we do anything about this in Phoenicis?

It can be solved via:
[code]

[2017-06-15 21:24] pyroxar opened #890 "A half-automatic wizard for easier creation installation of scripts?"
What do you think about adding possibility is a half-automatic wizard for easier creation installation of scripts? The wizard asks questions about the app, for example website link and save the wine version and other parameters of current installation.

[2017-06-16 07:53] qparis commented on #890
This has been done in POLv4 before and in general, it leads to poorly tested scripts

[2017-06-16 07:57] madoar commented on #890
I believe a better idea would be to provide a validate function, that helps script developers to see if their scripts are syntactically correct.
This is especially important if functions are used inside scripts that are implemented in java.
What do you think?

[2017-06-16 08:41] plata commented on #890
I don't really see the point. You can just run the script and you will see if it works or not. Also, the scripts which could be created by such an half-automatic wizard are so simple that no-one should have a problem writing them in JS directly (even if you have absolutely no clue about programming).

[2017-06-16 08:57] madoar commented on #890
Such a validation script would help to prevent us from doing changes to POL 5, that are not compatible with a few scripts.
This is currently a problem, that we do some changes and discover sometimes only a few days afterwards, that scripts don't work anymore.

[2017-06-16 09:16] plata commented on #890
That's true. But shouldn't this be done the other way around? I.e. not test a script if it's correct but rather test the software if it does not break the scripts?

[2017-06-16 10:03] pyroxar opened #891 "How to help translate PlayOnLinux5? [Could you give me some counsel]"
I can translate PlayOnLinux from english to polish but i don't have idea how do it.
Could you give me some instructions or counsel?
I and other users need handbook.

[2017-06-16 10:07] plata commented on #891
I will provide a description in the wiki. I think we can start the translation of the software already. For the translation of the scripts, I'm waiting for @qparis approval of  #884 and PlayOnLinux/Scripts#259.

[2017-06-16 10:12] plata commented on #891
Here's a quick description: https://github.com/PlayOnLinux/POL-POM-5/wiki/Translation

Please tell me if it's understandable or I should change something.

[2017-06-16 22:39] madoar commented on #878
Hmm, what exactly is the reason for a separate repository `Oldwares`?
Can't we integrate them in `Scripts`?

[2017-06-17 08:15] qparis commented on #878
Because there are some people that don't really care about these old ware and in a long term, we could have hundred of them.
I think repositories are also a great way to categorize the scripts

[2017-06-17 08:17] madoar commented on #878
What exactly does the `Oldwares` repository contain?

[2017-06-17 11:01] #857 closed

[2017-06-17 12:27] plata commented on #879
@qparis I think we can close this?

[2017-06-17 12:30] plata commented on #878
Seems like something is wrong with the `include`. It's crashing in Nashorn when trying to evaluate `include(["Functions", "Engines", "Wine"]);`.

[2017-06-17 12:30] #879 closed

[2017-06-17 16:27] pyroxar commented on #891
Ok thanks

[2017-06-17 16:27] #891 closed

[2017-06-17 17:01] plata opened #898 "decide on localization service"
Decide where to store the localization files in a way that people can provide localization files in an easy way
  * [Transifex](https://docs.transifex.com/formats/java-properties) (nice but expensive)
  * [Weblate](https://weblate.org/en/) (free, integrates with git/GitHub)
  * [Pootle](http://pootle.translatehouse.org/)
  * Rosetta (as in #4; often slow and buggy)

[2017-06-17 17:02] plata commented on #808
Translations are working. Translation service to be handled in #898.

[2017-06-17 17:02] #808 closed

[2017-06-17 19:01] pyroxar opened #900 "While run playonlinux not saw logo."
While run playonlinux not show logo.
When I change tab to other, logo is display normal.
it happens always when I run playonlinux.
![zrzut ekranu z 2017-06-17 20-56-20](https://user-images.githubusercontent.com/23406555/27255551-147d71e8-53a0-11e7-829f-611cbc81ed70.png)
![zrzut ekranu z 2017-06-17 20-56-28](https://user-images.githubusercontent.com/23406555/27255553-1abaee32-53a0-11e7-90ed-bbe4aef

[2017-06-17 19:08] pyroxar opened #901 "Playonlinux can't connect with repositories."
Playonlinux can't connect with repositories.
When I click on apps or engines tab, I see load indicator for a long time but nothing happens.
![aa](https://user-images.githubusercontent.com/23406555/27255596-0f9d1c2c-53a1-11e7-838c-c10e4e38fdc1.png)

[2017-06-18 08:24] madoar commented on #901
Does your terminal/console contain any stacktrace/error?
If yes can you please post it for us? :)

[2017-06-18 08:46] plata commented on #900
Can you provide the log output?

[2017-06-18 08:47] madoar opened #902 "Add git repository branch name to log output"
See title

[2017-06-18 08:48] plata commented on #901
This might be fixed by #893 (it fixes also a bug where the ID can be null).

[2017-06-18 09:21] plata commented on #901
@pyroxar can you try again?

[2017-06-18 09:22] plata commented on #878
@madoar do you still have this with the current master?

[2017-06-18 09:26] madoar commented on #878
Nope, no more startup errors ;)

[2017-06-18 09:26] #878 closed

[2017-06-18 09:29] madoar commented on #888
When we want to do this correctly (as in provide the change engine functionality), I this is superseded by #702 and #620.

[2017-06-18 09:38] plata commented on #888
Yes.

[2017-06-18 09:38] #888 closed

[2017-06-18 09:39] #853 closed

[2017-06-18 12:06] plata opened #904 "update library with bindings"
see #903

[2017-06-19 12:00] pyroxar commented on #901
This problem resolved.
![zrzut ekranu z 2017-06-19 13-59-28](https://user-images.githubusercontent.com/23406555/27284112-ad668a0e-54f7-11e7-89ad-90ac86e25c6e.png)

[2017-06-19 12:13] pyroxar commented on #901
I was wrong. When I compiled, all work good at first glance ( only first run) but then Playonlinux not display games or engines (next starts).

[2017-06-19 13:23] pyroxar commented on #900
Ok.
I don't even know where to find it.

[2017-06-19 16:12] plata commented on #900
How do you run it? You should see the log in your console or in your IDE.

[2017-06-19 16:35] plata commented on #901
How does your repositories.json look like (in ~/.Phoenicis)?

[2017-06-19 17:23] madoar opened #905 "Add isLoadable method to RepositoryLocation"
With regards to #901 and similar issues, which occur when a repository couldn't be read/loaded, we should add an indication about the readability/loadability of a repository to the `RepositoryLocation`.
This method should not be persisted by jackson.

The result of this method can then be used to visually show the user in the settings tab if a repository can't be opened.
We could for example show

[2017-06-19 17:44] plata commented on #905
Good idea. It's easy to have a typo in your repository URL and with this solution, you should immediately see it. Maybe we should also add a sanity check in the "add repository" dialog (e.g. `if localRepositoryFile.exists()`).

[2017-06-19 21:09] madoar commented on #901
Ok, this is interesting.
Currently I seem to have the same phenomena.
My current state is, that I don't have a `repositories.json` file in `~/.Phoenicis` and the "Apps" tab only shows the spinning loading circle.
My log contains the following content:

[code]

[2017-06-20 15:24] plata commented on #901
That's different. @qparis introduced this with #899 (at least the commit before this is working for me).

[2017-06-20 15:32] plata commented on #901
Yep. If you remove the `tr` in `DefaultRepositoryManager`, it works. @qparis we really need a test for this. Cannot be that such basic functionality gets broken on master.

[2017-06-20 15:38] madoar commented on #901
@plata can you do a PR that fixes this issue?
In addition: I agree we need a test to prevent this, but I'm not sure how we should test this.

[2017-06-20 15:42] plata commented on #901
I'm not sure yet. However, I figured out already that there is a NullPointerException which should lead to `failurePanel` being shown. This does not happen. Also, there's no log output in this case (which definitely should be there). Could you take care of that? Just put a breakpoint in Repository.java l.41 (`errorCallback.accept`).

[2017-06-20 15:55] plata commented on #901
@madoar I have it. Will open a PR in a few secs.

[2017-06-20 21:48] pyroxar commented on #900
I thought it was about 'special' log too.

This time, playonlinux logo shows after a while.
[log.txt](https://github.com/PlayOnLinux/POL-POM-5/files/1089785/log.txt)

[2017-06-20 21:56] madoar commented on #900
@plata I think this is related to the problem we have when you change your scaling in the settings and you need to hover over the logo to make it change.

[2017-06-21 06:22] qparis opened #911 "Prevent scripts from directly accessing Java classes"
Advantage:
* Security, a script will no longer be able to damage filesystems
* Portability, one can rewrite a compatible client with existing scripts

[2017-06-21 08:21] madoar commented on #911
How do you want to provide the needed functionality, which is implemented in java code, to the scripts?

[2017-06-21 08:21] qparis commented on #911
Bean()

[2017-06-21 08:22] madoar commented on #911
But then you allow some kind of access to the Java classes, right?
What prevents the script developer then to access other classes?

[2017-06-21 16:46] plata commented on #900
@pyroxar can you approve that the logo shows up as soon as you hover it? Otherwise I see two possibilities:
1. It's somehow related to fetching the repository. To check this, you could use only a local repository.
2. #851

[2017-06-21 16:51] plata opened #912 "ViewApps failure panel not shown"
If there is an Exception in `Repository.java` l.41 (`errorCallback.accept`) which should lead to `failurePanel` being shown, this does not happen. Also, there's no log output in this case (which definitely should be there).

see #901

[2017-06-21 17:27] qparis commented on #911
We could easily add a security mechanism, like a custom @Safe annotation and Bean() could check that this annotation exists

[2017-06-21 17:38] #901 closed

[2017-06-21 17:41] plata commented on #911
How about: <https://stackoverflow.com/questions/24466203/how-to-remove-java-apis-from-nashorn-engine>?

[2017-06-21 18:39] qparis commented on #911
This is complementary

[2017-06-21 18:41] madoar commented on #911
I think this might be a nice idea, the question is how to we do this with annotations?
I know of two ways to tell nashorn to ignore classes, the first are command line arguments (see the link from @plata for an example) and a `.policy` file.
I'm not sure if there is a way to do this at runtime?

[2017-06-21 18:45] plata commented on #911
Do we even need the annotation if we make only a certain API available in JS as in the link I posted?

[2017-06-21 18:46] #912 closed

[2017-06-21 18:47] madoar commented on #911
I think we will need to have some java classes available to be used in javascript by the scripts.
For these we will need a policy that tells nashorn which classes can and can't be used from inside the scripts.

[2017-06-21 19:33] qparis commented on #911
@madoar  Exactly. It is possible (I've done it before with Nashorn).
The idea is :
 * Bean() and SetupWizard() are allowed to be called because they are injected from java and not the contrary
 * Bean() always checks that the bean the script is trying to instanciate is annotated with @Safe

[2017-06-21 19:35] qparis commented on #911
final ScriptEngine scriptEngine = scriptEngineFactory.getScriptEngine(ClassFilter classFilter);

class CustomClassFilter implements ClassFilter {
    @Override
    public boolean exposeToScripts(String fullClassName) {
        return boolean
    }
}

[2017-06-21 19:37] madoar commented on #911
This sounds interesting.
So you would use reflection inside `exposeToScripts` to check if the given class can be exposed?

[2017-06-21 19:37] qparis commented on #911
Yes

[2017-06-21 19:39] madoar commented on #911
Do you think we'll need to change anything inside our existing scripts when we do this, or would it be enough to provide such a `ClassFilter`?

[2017-06-21 19:39] qparis commented on #911
We will need to change some stuff in the wine classes

[2017-06-21 19:39] qparis commented on #911
Also, we could introduce the concept of Safe repository

[2017-06-21 19:42] madoar commented on #911
What do you mean with "safe repository"?

[2017-06-21 19:42] qparis commented on #911
A repository that can execute any script (ClassPath internal repositories, ...)

[2017-06-21 19:44] madoar commented on #911
This sounds really interesting.
Do you want to do a PR for this?
I must confess I have no prior knowledge about nashorn so it would be quite nice if you could do this ;)
Afterwards we can discuss about the advantages and disadvantages.

[2017-06-22 20:01] madoar commented on #889
For what is this library needed?
I'm not sure we can do something about this.
For one, we would need `sudo` rights to execute your given command. In addition this seems to depend on the type of linux flavor you use, right?
What I would suggest is showing the user a message if an important library is missing.

[2017-06-22 20:04] madoar commented on #887
Can you tell us some points you would like to have improved?

[2017-06-22 20:04] madoar commented on #859
@plata, @qparis any suggestions about this?

[2017-06-22 21:38] qparis commented on #859
I think the default miniature with the logo is a good fallback. I would not like to see screenshot in the main menu, it would not be esthetic

[2017-06-23 13:32] plata commented on #889
I don't know why it is needed.
Maybe we could do something in the generation of the `.deb` or provide `libudev` in the `lib` folder of Wine.

[2017-06-23 13:33] plata commented on #859
Agree.

[2017-06-23 13:35] plata commented on #904
Looks good.

[2017-06-23 13:35] #904 closed

[2017-06-23 13:36] plata commented on #887
- align "Repository type" vertically with the combobox (same for "Classpath" and the textfield)
- add some spacing between the label and the control

[2017-06-24 08:10] plata opened #917 "fix gettext-commons maven integration"
The `gettext` goals are running for every module. As the `javafx` module is the last which generates `.pot`, we have it's strings. However, the strings from e.g.  `phoenicis-scripts` are lost.
We have to either:
* run `gettext:merge` only once for the multi module project (is that possible in maven?)
* run `gettext:merge` per module and merge the resulting `.pot` files with `msgcat --use-first *.p

[2017-06-24 08:56] plata commented on #917
I just tried to call the `gettext-commons` plugin from `phoenicis-dist`. This collects the strings from all modules in the `.pot`. The problem is that the `.properties` file is not found anymore.

[2017-06-24 09:40] madoar opened #919 "Add RepositoryException which is a wrapper for a catchable Exception"
Currently all exceptions are catched, that are thrown inside the application fetching process of a Repository.
This approach has the problem that errors, which are repository independent, are catched too.
To make this more clear, which exceptions can or should be thrown and processed inside a repository I suggest to introduce a new `RepositoryException` class.

For more details see #913

[2017-06-24 09:42] madoar opened #920 "Add a reset button to the settings"
It would be quite nice to have a "reset to factory settings" button in the settings.
After clicking on this button POL 5 will automatically reset all user made settings back to the factory settings.

For more details see #915

[2017-06-24 09:47] #917 closed

[2017-06-24 10:41] #810 closed

[2017-06-24 10:42] madoar opened #923 "Find a better location for the default miniature URIs"
See #907 for more details

[2017-06-24 11:48] madoar commented on #782
This has been solved in #907

[2017-06-24 11:48] #782 closed

[2017-06-24 14:12] madoar opened #925 "Set background color of the center component inside a MainWindowView to white"
Currently all themes except the breeze dark theme use a gray background color in the center component of their tabs.
This is especially visible for the icons list widget, which has a gray background for selected and hovered elements.
To make this better readable we need to change the background color to white for all tabs for the default, dark and unity themes.

[2017-06-24 14:16] madoar opened #926 "Add a new ObservableList implementation that provides an ObjectProperty for the first and last element of the list"
It would be quite useful to implement a new ObservableList class, that provides an ObjectProperty for the first and the last element of the list.
These properties need to automatically update themselves and need to inform all their listeners when a change to the first or last element of the list occurs.

This class is quite helpful for #849 and similar issues

[2017-06-24 14:27] madoar commented on #483
Are there any news about this?

[2017-06-24 14:28] madoar commented on #745
Are there any news about this?

[2017-06-24 14:30] plata commented on #745
Not really. I still think that the best idea would be to simply split the repository. However, only @qparis can decide about/do this.

[2017-06-24 14:31] madoar opened #927 "Add overview/landscape of the used maven modules in the Wiki"
Currently we have no explanation page in the Wiki, which tells a new developer which maven module contains what functionality.
We should add such a page.

[2017-06-24 14:33] plata commented on #483
Not from my side. I have to say that I'm not completely aware of the assumed use case for this. Also: How can this be combined with generic engines?

[2017-06-24 14:33] plata commented on #927
Can't we do that in JavaDoc?

[2017-06-24 15:00] madoar commented on #927
My idea was to add table to the Wiki, which contains information like:

Maven Module | Documentation
------------------- | -------------------
pheonicis-javafx | Contains the javafx gui application for Phoenicis
... | ...

[2017-06-24 15:03] plata commented on #927
Ok. Yes, on this level we can do it manually.

[2017-06-25 17:47] pyroxar opened #930 "Add "restore to default" button."
![rs](https://user-images.githubusercontent.com/23406555/27518387-296ec5bc-59df-11e7-97b3-a3244be0ed3f.png)

[2017-06-25 17:48] plata commented on #930
duplicate of #920

[2017-06-25 17:48] #930 closed

[2017-06-25 17:57] pyroxar commented on #900
Ok. When I run POL5, logo shows after a little while.
I delete remote repositories. Logo shows immediately.

[2017-06-26 18:46] qparis commented on #483
It is made to open any terminal. Look at the container settings tab, you will see such a feature

[2017-06-27 20:40] qparis commented on #745
What name do you propose for the fourth level?

[2017-06-28 09:53] pyroxar opened #931 "Probably information about installed app is in wrong place."
I'm not sure information about installed app  is in the right place.
In my opinion it is too high.
![zrzut ekranu z 2017-06-27 22-49-09](https://user-images.githubusercontent.com/23406555/27631032-8d1d8ed0-5bf7-11e7-99bf-8b8ce24e4cc5.png)
![zrzut ekranu z 2017-06-27 22-49-092](https://user-images.githubusercontent.com/23406555/27631163-e5249786-5bf7-11e7-851e-ed45d32b2727.png)

[2017-06-28 10:07] pyroxar opened #932 "Window of PlayonLinux should be slightly wider."
Actually in default display mode in tabs like Library, App, Containers or Engines fit only three columns. It is ugly. I think that it is necessary corrections.
![zrzut ekranu z 2017-06-28 11-57-08](https://user-images.githubusercontent.com/23406555/27631704-a315ed84-5bf9-11e7-85f0-6c8c5154226c.png)
![zrzut ekranu z 2017-06-28 11-57-42](https://user-images.githubusercontent.com/23406555/27631707-a7

[2017-06-28 10:09] pyroxar opened #933 "Wine tool tabs are displayed incorrectly."
![zrzut ekranu z 2017-06-28 11-58-28](https://user-images.githubusercontent.com/23406555/27631993-ac212712-5bfa-11e7-88d6-486066932987.png)

[2017-06-28 10:14] pyroxar opened #934 "Menu have different sizes in different tabs."
This difference in menu size is only in settings tab. In other tabs menu size is the same.
![zrzut ekranu z 2017-06-28 11-59-25](https://user-images.githubusercontent.com/23406555/27632138-21e6dc30-5bfb-11e7-990d-9f51db625c32.png)
![zrzut ekranu z 2017-06-28 11-59-33](https://user-images.githubusercontent.com/23406555/27632145-27db60fc-5bfb-11e7-8883-599a8bc4d49a.png)

[2017-06-28 10:18] pyroxar opened #935 "typo in wine version 15.27-NeedForSpeed"
One of wine is mislabeled.
This bug is present only in upstream wine version.
![zrzut ekranu z 2017-06-28 12-00-43](https://user-images.githubusercontent.com/23406555/27632336-b11bec92-5bfb-11e7-8d5e-eccff2ea3e0c.png)

[2017-06-28 10:56] pyroxar opened #936 "Menu width slightly wider and set size of rigidly."
Menu width needs to be slightly wider (up to red line shown in the picture) and its size rigid.
In this issue menu has diferent sizes in each tabs.
https://github.com/PlayOnLinux/POL-POM-5/issues/934
I think (but i don't know) that it is caused by size of menu's elements.
That's why you should change it.
![zrzut ekranu z 2017-06-28 12-25-32](https://user-images.githubusercontent.com/23406555/27633

[2017-06-28 11:43] madoar commented on #931
Do you mean only the header row (e.g. Notepad++ and the close button) are too high, or everything in the details view?
Can you maybe add a screenshot showing how you would like it to look?

[2017-06-28 11:44] madoar commented on #932
This is a question of the scaling you've set.
To make this fit better I think it's enough to change the default scaling to a lower value.

[2017-06-28 11:48] madoar commented on #933
Yes, the whole container details view currently has a horrible layout, which needs improving or a rewrite.
The problem here is, that we want to move a lot of features currently written in java to the script repository, more detailed to the wine javascript class which (should/will) implement a java interface.
For more information on the issue take a look at #620.

[2017-06-28 11:49] madoar commented on #935
@qparis I think you're the one to fix this :)

[2017-06-28 15:19] pyroxar commented on #931
imo this should be something like this:
![opo](https://user-images.githubusercontent.com/23406555/27645195-d02c974c-5c25-11e7-91a7-6ed99fce88d3.png)

[2017-06-28 15:41] madoar commented on #931
The current idea about the details view (which is the application information for the library tab) is to add it separately from the main content of the tab.
Therefore we don't want to include the application information inside the "My applications" tab inside the library, but next to it as a separate element.

[2017-06-28 15:42] madoar commented on #931
Do you think a border around the details tab (e.g. the application information for the library tab) would make this more clear?

[2017-07-01 07:34] plata commented on #483
@qparis I understand that point. But how/when is the user supposed to open this (e.g. instead of opening the terminal directly from his OS)?

[2017-07-01 07:42] plata commented on #745
I see two possibilities:
1. fourth level
    - repository
        - framework
            - engines
            - ...
        - applications
            - games
            - ...
2. Keep three levels and make the scripts in "Functions" first class citizens.
    - engines
        - wine
            - shortcut
            - ...
    - applications
        - games
        - ...

If we choose 1., this

[2017-07-01 07:49] plata commented on #934
Are you talking about the left sidebar? If so, that's on purpose because the sidebar should use as much space as it needs. If it would always use the same width, we would loose space to display content.

[2017-07-01 07:53] plata commented on #936
We cannot fix the width of the sidebar. If we would do this, the text of the buttons might be cropped.

However, I agree that it looks like the sidebar should have the same width as the logo. What would you think of:
- removing the logo completely
- moving the logo into the sidebar

[2017-07-01 09:24] plata commented on #933
@mador I don't think the generic engines are related to this issue. The JS should only provide the content, not the view. This issue should be fixed by using a floating layout in a scrollpane (not fixed grid) like we do for the apps/engines etc. already.

[2017-07-01 09:47] madoar commented on #933
My point is, that I would only touch the layout of the container tab, when we decide to do #620.
The reason for this is, that #620 will enable us to query a list of settings objects, which can be added via a for loop to the layout. This is a big change to the current manual layout, which would require a second large change if we did it later on.

[2017-07-01 11:55] plata commented on #933
I don't think so. We will just use a loop instead of a fixed set of objects. Moreover, #620 will take some time so we should fix this issue before we do #620.

[2017-07-01 14:09] madoar commented on #936
Hmm, how about we bind the min-width of the sidebar to the width of the logo tab?

[2017-07-01 14:12] madoar commented on #934
Here I must agree @pyroxar, normally you would expect all sidebars to have the same size.
The question here is: can we achieve this somehow?

[2017-07-01 14:18] madoar commented on #933
If you we decide to fix this before #620, then I think we should do it in a very flexible way that works with an arbitrary number of elements to be shown in the layout.

[2017-07-01 14:27] plata commented on #933
Exactly. That's why I said, it should behave like the apps/engines.

[2017-07-01 14:30] plata commented on #936
I don't think that's a solution. What if the width of the logo is greater than the min-width of the sidebar?

[2017-07-01 14:32] plata commented on #934
If we still want the texts not to be cropped and a sidebar which is not fixed to a width which is way too large, I don't see a reasonable way to do this.

[2017-07-01 14:40] madoar commented on #936
I meant the other way round.
The sidebar will have as a minimum the width of the logo tab.

[2017-07-01 14:43] plata commented on #936
That will not work if the sidebar has to be wider than the logo (e.g. because a text is longer). Also: do we really want to waste the space just to have different sidebars with the same width?

[2017-07-01 14:48] madoar commented on #936
Why should it not work, if the sidebar needs to be wider?
We should bind the min-width property, not the max-width.
I'm not sure if we should call this wasting space. An application like POL 5 lives through its design, and I must agree with @pyroxar that it looks strange when you compare the width of the sidebar with the width of the logo tab, because you would expect them to have the same width.

[2017-07-01 15:32] plata commented on #936
If a text is longer than the logo, the sidebar will be wider than the min-width. Therefore, sidebars will have different widths again.

[2017-07-01 15:54] plata commented on #931
It might make sense to move the details into the tab content like @pyroxar suggests. If you install an application, switch to "My application" while the wizard is open, click on a miniature and then switch back to the wizard, you will have the details panel besides the wizard which doesn't make a lot of sense.

[2017-07-01 15:58] plata commented on #900
Mh. So the logo is loaded only after the repository is fetched. @madoar @qparis any ideas why that happens?

[2017-07-01 16:11] madoar commented on #936
And if we alternative bind the min width of the sidebar to the preferred width of the logo and the other way around? This should ensure that both components have the same width.

On another note:
What exactly speaks against fixed widths, with line breaks? This would require the translators to choose labels that look good in the application, but I think this is feasible.

[2017-07-01 16:13] madoar commented on #931
This might be useful, but if we want to do what you propose, we would need to add a custom implementation for the setting of the sidebar for the library tab. I'm not sure this is a good idea, because it would make it more complex for developers to understand.

[2017-07-01 16:16] madoar commented on #900
I have no idea.

[2017-07-01 16:18] madoar commented on #900
Maybe we should think about how we want the startup process of POL 5 to be, because currently we seem to have some issues with it.
For example see also #851.

[2017-07-01 16:45] plata commented on #936
If you look at other sidebars, they usually do not break lines (e.g. in a file browser). Wouldn't it be easier to simply move the logo into the sidebar?

[2017-07-01 16:46] madoar commented on #936
Can you do a PR?
If it looks good why not?

[2017-07-01 17:02] plata commented on #931
Maybe we should show the right panel inside the tab content everywhere.

[2017-07-01 17:14] plata commented on #936
![logo in sidebar](https://user-images.githubusercontent.com/3973260/27764095-35e768c4-5e91-11e7-8a9d-65c6ced06b79.png)

![logo in sidebar 2](https://user-images.githubusercontent.com/3973260/27764107-7eecc7ee-5e91-11e7-851c-6b20582e5b31.png)

[2017-07-01 20:54] madoar commented on #931
I'm not sure I can follow you, what do you mean with `inside the tab content everywhere`?

[2017-07-01 20:57] madoar commented on #936
I personally think a solution based on your second image looks best.
Can't be give the logo a blue background again, so that the header looks like a single element again?

[2017-07-01 22:10] pyroxar commented on #936
I propose something like this:
![mzpropose](https://user-images.githubusercontent.com/23406555/27765752-d2f8ae4c-5eba-11e7-8a9e-deed0bc017df.png)

[2017-07-02 10:15] plata commented on #931
As you said, the right panel is currently shown **beside** the `TabPane`. Maybe we should show it **inside** the tab instead like @pyroxar suggests.

[2017-07-02 10:16] #932 closed

[2017-07-02 10:18] madoar commented on #931
Yes, but not every function tab contains a `TabPane`, right?

[2017-07-02 11:40] plata commented on #931
Ok, but I think you got the point. If not in the `TabPane` then maybe in the miniature view or something like that.

[2017-07-02 11:44] madoar commented on #931
I got your point, but my argument still stands:

[2017-07-02 11:52] plata commented on #931
That's true. But I don't think we should use the developer perspective to argue about the user experience.

[2017-07-02 11:54] madoar commented on #931
I think, that a border around the details view could be enough to make it apparent to the user, that the details view is not part of the center view.

[2017-07-02 11:57] plata commented on #936
@madoar I wouldn't want to do that. If we want the top menu to like like one, it should really be one. To be honest, I don't really see the point of having the logo in the application window at all. I cannot recall any other application which does this.
As the sidebar belongs to the tab and not the whole application, I prefer one of the last two images.

@qparis what do you think?

[2017-07-02 11:59] plata commented on #931
That's true. But still the question: Does it make sense that it is like this (especially in the case of the wizard I described above)?

[2017-07-07 14:34] plata opened #939 "cannot start and uninstall app"
[code]

@qparis I think this has been introduced by #914

[2017-07-07 15:09] madoar commented on #939
Which script needs this?

[2017-07-07 17:37] plata commented on #939
WineShortcutReader

[2017-07-07 17:44] plata commented on #939
You cannot even start apps anymore.

[2017-07-09 19:08] madoar commented on #745
I think this is currently blocking many of the other features right?
The only issues we could currently work on are graphic related issues, like fixing a panel or something.
Maybe some of these issues make more sense to work on, after this has been completed too.

[2017-07-09 19:11] madoar commented on #579
After the new github organisation https://github.com/PhoenicisOrg has been created, we only need to move the POL 5 repositories to the PhoenicisOrg right?

[2017-07-10 06:04] michaeldyl520 opened #942 "Download too slow in china"
How can i do?I can down some wine,it`s too slow.

[2017-07-10 16:23] plata commented on #745
We should find an agreement. I'll vote for possibility 2.

[2017-07-10 16:23] plata commented on #579
I think we can move it (i.e. @qparis can move it).

[2017-07-10 16:29] plata commented on #942
What exactly is the problem? If you have issues with the repositories, you can download them once and then use local repositories (see [wiki](https://github.com/PlayOnLinux/POL-POM-5/wiki/Repository)). If you cannot download Wine at all, I don't currently see a possibility how this could be fixed (unless you can get Wine from somewhere else).

[2017-07-12 21:00] ivannarvaez17 opened #943 "Problem with author tag"
Hi, when I tried compiling the source code I kept getting this error:

Tests run: 9, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1.122 sec <<< FAILURE!
fetchInstallableApplications_Graphics_Photofiltre_scriptContent(org.phoenicis.repository.repositoryTypes.ClasspathRepositoryTest)  Time elapsed: 0.026 sec  <<< FAILURE!
org.junit.ComparisonFailure: expected:<...  .author("Quentin P[?]RIS")

[2017-07-13 16:26] plata commented on #943
Does it work if you replace `Quentin PÂRIS` in `phoenicis-repository/src/test/java/org/phoenicis/repository/repositoryTest/Graphics/Photofiltre/Online/script.js` by something without special characters (e.g. `Quentin PARIS`)?

[2017-07-13 17:49] plata commented on #911
@qparis can we close this?

[2017-07-13 17:59] madoar commented on #911
@qparis Do you want to give the "safe repository" idea a go, or do you think this issue can be closed?

[2017-07-13 18:01] madoar commented on #911
Oh I just saw that your previous PR already contained an initial approach for the "safe repositories", so I think we can close this?

[2017-07-13 18:28] #911 closed

[2017-07-13 19:00] ivannarvaez17 commented on #943
Changing it to PARIS, the error changes to:

org.junit.ComparisonFailure: expected:<...  .author("Quentin P[?]RIS")
    .url("http...> but was:<...  .author("Quentin P[A]RIS")

Now, if you just remove the space before the ^b then it says:

org.junit.ComparisonFailure: expected:<...  .author("Quentin P[?]RIS")
    .url("http...> but was:<...  .author("Quentin P[?]RIS")

which to me must be mean tha

[2017-07-14 15:18] plata commented on #943
It fails because `fetchInstallableApplications_Graphics_Photofiltre_scriptContent` expects `Quentin PÂRIS` but you have `Quentin PARIS`. When you change that line (`.author("Quentin PÂRIS")` in the test as well, it should work. To me, this shows that you have some encoding issue on your machine (that's also why you get `?` instead of `Â`).

@madoar @qparis any ideas what could cause this issue (an

[2017-07-14 15:49] ivannarvaez17 commented on #943
I'm on Arch Linux, at least one other person on the arch user repositories has had the same problem: https://aur.archlinux.org/packages/playonlinux5-git/

[2017-07-14 15:55] plata commented on #943
Ok. Maybe the guys at Arch have a better idea about what's going on with the encoding. To be honest, I don't see what we could do about this.

[2017-07-14 16:11] madoar commented on #943
This is really strange, I've just checked, both files have a `UTF-8` encoding.
Maybe the script loading method interprets the script as having another encoding?
@ivannarvaez17 Can you tell us your system encoding?

[2017-07-14 18:03] #939 closed

[2017-07-15 11:45] #902 closed

[2017-07-15 11:46] #933 closed

[2017-07-15 13:31] plata opened #950 "implement JavaFxSettingsManager"
Currently, all settings (except repositories) are stored in one properties file and are managed by `SettingsManager`. However, some of the settings (like window size) only apply to JavaFX. Therefore, those should be extracted and handled separately. This is also required for #850 because the list type enum cannot be used in `SettingsManager` right now (circular dependency between phoenicis-javafx

[2017-07-15 14:10] #887 closed

[2017-07-15 14:28] plata commented on #927
see [wiki](https://github.com/PlayOnLinux/POL-POM-5/wiki/Modules).

[2017-07-15 14:28] #927 closed

[2017-07-15 14:30] plata commented on #890
I think from the discussion in this issue, it is clear that this will not be supported.

[2017-07-15 14:30] #890 closed

[2017-07-15 17:30] #925 closed

[2017-07-15 17:37] plata commented on #686
@madoar I think this can be closed, right?

[2017-07-15 17:37] #686 closed

[2017-07-15 17:41] plata commented on #859
@madoar are the comments above information to implement a fix for this issue?

[2017-07-15 17:43] madoar commented on #859
Yes, the only thing required to fix this issue is to remove the if condition in `getMainMiniature`

[2017-07-15 17:46] plata commented on #820
@madoar I don't understand "the class shouldn't add a css class to itself directly". Can you explain this a bit more (e.g. which lines in the code)? Also: Can we access the different Region, HBox etc. from Less directly or do we have to create a class for each of those?

[2017-07-15 17:56] plata commented on #830
@madoar @qparis did you reach an agreement if/what we should do about this? If so, please add distinct tasks for the actions that have to be taken. If not, can we just close this issue?

[2017-07-15 17:59] plata opened #953 "missing tooltip to show script source"
The tooltip which should be shown when the `viewScriptSource` checkbox in the settings has been enabled isn't shown currently.

[2017-07-15 17:59] plata commented on #818
Opened #953 to track the tooltip issue.

[2017-07-15 18:00] plata commented on #818
I would also like to track the first point in a separate issue but I don't quite understand it/what has to be changed. @madoar could you help me there?

[2017-07-15 18:09] plata commented on #659
@madoar we have a log output for the used repositories by now. Apart from this, it seems like nobody needed more functionality here in the last months. Therefore I would suggest to close this.

[2017-07-15 18:10] plata commented on #953
@madoar do you still have this problem? It works for me.

[2017-07-15 18:12] plata commented on #923
More details: `StaticMiniature` currently only contains the default miniature URIs. It would be good if we could find a better location for them and delete `StaticMiniature`.

[2017-07-15 18:18] plata commented on #934
After the discussions in several other issues and pull requests, I'm pretty convinced that the sidebar belongs to every tab. As a consequence, we have multiple sidebar objects. As I said above already, I cannot think of any reasonable way to assign them the same width. For example, this would require to load and update all the tabs all the time even if they are not displayed.

Unless anyone knows

[2017-07-15 18:21] plata commented on #792
This would be solved automatically if we decide to make engines first class citizens as proposed in #745.

[2017-07-15 18:22] plata commented on #483
Apart from my concern above: Is this really essential for "alpha"?

[2017-07-15 18:32] qparis commented on #483
Yep it is

[2017-07-15 20:34] madoar commented on #830
The idea is to use spring in the Controller classes.
This would reduce the need for our many argument controller constructors.
To do this we basically only need to add all the controller parameters as class fields annotated with  `@Autowired` and remove the many argument constructors.
In a next step (and separate PR) I would like to test if and how well this same approach would work with our View

[2017-07-15 20:41] madoar commented on #953
Yes, I've just checked, I don't see a tooltip when hovering over a script label (e.g. Audiosurf -> "Steam").
Can you maybe post a screenshot how the tooltip looks like, maybe I'm just missing it...

[2017-07-15 20:44] madoar commented on #818
As far as I remember the problem is that `AppPanel` sets an **additional** css class to itself.
The first, and main, css class is set in the constructor of `DetailsView` (which also sets 2 classes which is one to much in my opinion).
These multiple css classes are dangerous because they set the same style properties with different values (e.g. paddings, etc.).
In my opinion all details views shoul

[2017-07-15 20:46] madoar commented on #659
It seems like you're right.
The point of this issue was to do some fundamental work in regards to making the merge process of multiple repositories better debugable, i.e. which repository was merged in which order.
Every time I look at the merging code, I think it contains some kind of error...

[2017-07-15 20:50] madoar commented on #934
I'm also not sure how to best approach this issue.
On the one hand I must agree @pyroxar that it's quite visible if you switch between the different tabs often.
On the other hand I agree with @plata that a uniform sidebar is hard to implement and doesn't fit in our current concept.

[2017-07-16 08:44] #859 closed

[2017-07-16 08:50] plata commented on #818
I'm not sure we can use the paddings in every details view. After all, they might contain completely different data/controls.

[2017-07-16 08:51] plata commented on #659
Ok. I'll close it for now. If we ever encounter a problem there, we can still improve the logs.

[2017-07-16 08:51] #659 closed

[2017-07-16 08:55] plata commented on #953
![tooltip](https://user-images.githubusercontent.com/3973260/28246218-3010cc26-6a15-11e7-9a22-c9750240ed76.png)

[2017-07-16 09:00] plata commented on #934
If we merge #948, it will not be that visible anymore because you loose the reference to the logo.

As we cannot find a proper solution, I close this.

[2017-07-16 09:00] #934 closed

[2017-07-16 09:12] madoar commented on #953
It seems I've found the problem.
The time until the tooltip opens is kind of long, but it's working.

[2017-07-16 09:12] #953 closed

[2017-07-16 09:16] madoar commented on #818
We're not only talking about the data/controls set by the details view implementation, but also about paddings that react with with close button and the header title for the details view.
If you for example compare the details view of the "Apps" tab and the "Library" tab with each other, you'll discover, that the header row has different paddings for both tabs.
This is rooted in the additional css

[2017-07-16 09:21] madoar commented on #950
In which format do you want to store the settings for the javafx application?
Do you want to store them in a properties file or in json?

[2017-07-16 09:23] plata commented on #950
Didn't really think about it. I guess we can use properties as well.

[2017-07-16 09:25] madoar commented on #950
Json is easier to use in my opinion, because we can simply annotate all fields/methods, that should be persisted in json. The saving and loading will then be done by jackson, without the need to do it ourselves.

[2017-07-16 09:25] qparis commented on #950
Yes we can use properties

[2017-07-16 09:28] plata commented on #818
Would you mind implementing this? (I guess you know best what should be handled in the CSS for the details panel and what in the CSS for the special implementation).

[2017-07-16 09:37] madoar commented on #818
The question is how do we want to solve this?
Do we want to have a single css class we add to every details view implementation?
Or do we want to add a custom css class to every details view implementation?

[2017-07-16 09:43] plata commented on #818
I think we should have a CSS class for the details view which handles the basic layout (close button etc). And then one CSS class for every details view for the specific controls.

[2017-07-16 09:46] madoar commented on #818
Hmm, how do we prevent both css classes from interfering with each other?

[2017-07-16 10:15] plata commented on #818
We cannot. But I'm not sure it makes sense to handle everything in the CSS for the details view because you just cannot know what it contains.
The only thing we could do is put the content in a separate panel and apply the CSS for every details view only to that panel.

[2017-07-16 10:35] qparis commented on #950
@madoar With json, you cannot inject properties when running POL, you must modify the file. I think it is not that hard to read and write into properties

[2017-07-17 16:44] plata commented on #557
some input from @nodiscc

[2017-07-17 22:31] madoar commented on #579
@qparis are there any news about the new organization?

[2017-07-18 16:06] #900 closed

[2017-07-18 16:06] #936 closed

[2017-07-18 21:53] ivannarvaez17 commented on #943
You were right @plata it actually was an encoding issue on my machine, as per @madoar's suggestion I checked the system encoding of my machine and noticed some of the locale environment variables weren't set, which I fixed following the answer provided in this link: https://stackoverflow.com/questions/28247427/strange-locale-issue-on-arch

[2017-07-19 15:59] plata commented on #943
That's good.

[2017-07-19 15:59] #943 closed

[2017-07-23 04:15] aaronfranke opened #956 "org.phoenicis.scripts.interpreter.ScriptException: Script not found: [Functions, Engines, Wine]"
https://pastebin.com/yEw6cJi8

This error comes up when trying to install any version of Wine in the "Engines" tab. Four error dialogs show up and this text is outputted to the terminal log.

Also, once this happens, the window becomes un-resizable, it is stuck at a fixed size.

My system: Xubuntu 16.04 LTS 64-bit, openjdk version "1.8.0_131" from the Ubuntu repos, PoL built using `mvn clean packa